{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{article.title}}</title>
{% endblock %}

{% block post_include %}
  <script>
    $(document).ready(function () {
      var date = $('.author-details span').html();
      $('.author-details span').html(checkDateName(date.split(' ')[0]));
    })
  </script>
{% endblock %}

{% block content %}

    {% set parentBlog = Blog(article.blogs[0]) %}
    {% if CustomField(article.id,'article','author') %}
      {% set author = CustomField(article.id,'article','author') %}
    {% else %}
      {% set author = 'Phi' %}
    {% endif %}

    <main role="main" class="container article----if--contains">
      <a id="main-content" tabindex="-1"></a>
      <div class="content-wrapper">
        <div class="layout-content">
          <div class="region">
            <div class="block">
              <div class="ds-full-width">
                <div class="field field--name-dynamic-block-fieldnode-content-bug field--type-ds field__item">
                  <div class="views-element-container p-0">
                    <div class="view">
                      <div class="view-content">
                        <div>
                          <div class="bug-text">{{parentBlog.title}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field field--name-field-header field__item">
                  <div class="layout layout--onecol">
                    <div class="layout__region">
                      <div class="full-width">
                        <div class="field field--name-field-image field__item">
                          {% if article.image %}
                            <img src="{{article.image | upload_url}}" width="1460" height="821" alt="{{article.title}}" title="{{article.title}}" class="image-style-full"/>
                          {% else %}
                            <img src="{{settings.sub_img | upload_url}}" width="1460" height="821" alt="{{article.title}}" title="{{article.title}}" class="image-style-full"/>
                          {% endif %} 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="node ds-standard-article clearfix">
                <div class="ds-header">
                  <div class="field field--type-ds field__item">
                    <h1 class="page-title">
                      {{article.title}}
                    </h1>
                  </div>
                  <div
                    class="field field--type-ds field__item">
                    <div class="author-details">bởi
                      <a href="javascript:;">{{author}}</a> vào <span>{{article.created_at}}</span>
                    </div>
                  </div>
                  <wrap class="flex-div mobile clearfix">
                    <div class="tag-block">
                      <a href="javascript:;" class="text-block">
                        <div class="simple-text">
                          <div class="coloralert platform-color">
                            <p class="alert-text">
                              <strong>{{article.option_1}}</strong>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a href="javascript:;" class="text-block">
                        <div class="simple-text ">
                          <div class="coloralert type-color">
                            <p class="alert-text">
                              <strong>{{article.option_2}}</strong>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a href="javascript:;" class="text-block">
                        <div class="simple-text ">
                          <div class="coloralert brand-color">
                            <p class="alert-text">
                              <strong>{{article.option_3}}</strong>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a href="javascript:;" class="text-block">
                        <div class="simple-text ">
                          <div class="coloralert genre-color">
                            <p class="alert-text">
                              <strong>{{article.option_4}}</strong>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </wrap>
                  <div class="ds-wrapper clearfix">
                    <div class="ds-main">
                      <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field__item">
                        {{article.content | raw}}
                      </div>
                    </div>
                    <div class="ds-right sticky">
                      <wrap class="flex-div">
                        <section class="social-share" showSocialMobile="true">
                          <div class="collapse-social-icon">
                            <div class="icon-collapse-open" onclick="showSocialMobile(true)"> >> </div>
                            <div class="icon-collapse-close" onclick="showSocialMobile(false)"> << </div>
                          </div>
                          <div class="social-share-button">
                            <a onclick="checkUpvote()" class="have-number">
                              <div class="social-icon upvote">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   width="456.814px" height="456.814px" viewBox="0 0 456.814 456.814" style="enable-background:new 0 0 456.814 456.814; fill:#656565;"
                                   xml:space="preserve">
<g>
  <g>
    <path d="M441.11,252.677c10.468-11.99,15.704-26.169,15.704-42.54c0-14.846-5.432-27.692-16.259-38.547
			c-10.849-10.854-23.695-16.278-38.541-16.278h-79.082c0.76-2.664,1.522-4.948,2.282-6.851c0.753-1.903,1.811-3.999,3.138-6.283
			c1.328-2.285,2.283-3.999,2.852-5.139c3.425-6.468,6.047-11.801,7.857-15.985c1.807-4.192,3.606-9.9,5.42-17.133
			c1.811-7.229,2.711-14.465,2.711-21.698c0-4.566-0.055-8.281-0.145-11.134c-0.089-2.855-0.574-7.139-1.423-12.85
			c-0.862-5.708-2.006-10.467-3.43-14.272c-1.43-3.806-3.716-8.092-6.851-12.847c-3.142-4.764-6.947-8.613-11.424-11.565
			c-4.476-2.95-10.184-5.424-17.131-7.421c-6.954-1.999-14.801-2.998-23.562-2.998c-4.948,0-9.227,1.809-12.847,5.426
			c-3.806,3.806-7.047,8.564-9.709,14.272c-2.666,5.711-4.523,10.66-5.571,14.849c-1.047,4.187-2.238,9.994-3.565,17.415
			c-1.719,7.998-2.998,13.752-3.86,17.273c-0.855,3.521-2.525,8.136-4.997,13.845c-2.477,5.713-5.424,10.278-8.851,13.706
			c-6.28,6.28-15.891,17.701-28.837,34.259c-9.329,12.18-18.94,23.695-28.837,34.545c-9.899,10.852-17.131,16.466-21.698,16.847
			c-4.755,0.38-8.848,2.331-12.275,5.854c-3.427,3.521-5.14,7.662-5.14,12.419v183.01c0,4.949,1.807,9.182,5.424,12.703
			c3.615,3.525,7.898,5.38,12.847,5.571c6.661,0.191,21.698,4.374,45.111,12.566c14.654,4.941,26.12,8.706,34.4,11.272
			c8.278,2.566,19.849,5.328,34.684,8.282c14.849,2.949,28.551,4.428,41.11,4.428h4.855h21.7h10.276
			c25.321-0.38,44.061-7.806,56.247-22.268c11.036-13.135,15.697-30.361,13.99-51.679c7.422-7.042,12.565-15.984,15.416-26.836
			c3.231-11.604,3.231-22.74,0-33.397c8.754-11.611,12.847-24.649,12.272-39.115C445.395,268.286,443.971,261.055,441.11,252.677z"
    />
    <path d="M100.5,191.864H18.276c-4.952,0-9.235,1.809-12.851,5.426C1.809,200.905,0,205.188,0,210.137v182.732
			c0,4.942,1.809,9.227,5.426,12.847c3.619,3.611,7.902,5.421,12.851,5.421H100.5c4.948,0,9.229-1.81,12.847-5.421
			c3.616-3.62,5.424-7.904,5.424-12.847V210.137c0-4.949-1.809-9.231-5.424-12.847C109.73,193.672,105.449,191.864,100.5,191.864z
			 M67.665,369.308c-3.616,3.521-7.898,5.281-12.847,5.281c-5.14,0-9.471-1.76-12.99-5.281c-3.521-3.521-5.281-7.85-5.281-12.99
			c0-4.948,1.759-9.232,5.281-12.847c3.52-3.617,7.85-5.428,12.99-5.428c4.949,0,9.231,1.811,12.847,5.428
			c3.617,3.614,5.426,7.898,5.426,12.847C73.091,361.458,71.286,365.786,67.665,369.308z"/>
  </g>
</g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
</svg>
                              </div>
                              <i>{{article.like}}</i>
                            </a>
                          </div>
                          <div class="social-share-button">
                            <a onclick="checkDownvote()" class="have-number">
                              <div class="social-icon downvote" >
                                <svg fill="#656565" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="456.824px" height="456.824px" viewBox="0 0 456.824 456.824" style="enable-background:new 0 0 456.824 456.824;fill:#656565;"
                                     xml:space="preserve">
<g>
  <g>
    <path d="M100.5,45.683H18.276c-4.949,0-9.231,1.809-12.851,5.426C1.809,54.724,0,59.007,0,63.954v182.729
			c0,4.948,1.809,9.233,5.426,12.847c3.616,3.614,7.898,5.425,12.851,5.425H100.5c4.948,0,9.229-1.811,12.847-5.425
			c3.616-3.613,5.424-7.898,5.424-12.847V63.954c0-4.947-1.809-9.229-5.424-12.845C109.73,47.491,105.449,45.683,100.5,45.683z
			 M67.665,113.351c-3.616,3.617-7.898,5.424-12.847,5.424c-5.14,0-9.471-1.807-12.99-5.424c-3.521-3.617-5.281-7.898-5.281-12.85
			c0-5.137,1.759-9.469,5.281-12.991c3.52-3.521,7.85-5.28,12.99-5.28c4.949,0,9.231,1.759,12.847,5.28
			c3.621,3.521,5.426,7.854,5.426,12.991C73.091,105.449,71.282,109.73,67.665,113.351z"/>
    <path d="M441.106,204.141c2.861-8.376,4.281-15.608,4.261-21.693c0.575-14.466-3.519-27.504-12.279-39.114
			c3.237-10.66,3.237-21.797,0-33.407c-2.847-10.85-7.994-19.792-15.413-26.835c1.711-21.32-2.95-38.543-13.99-51.678
			c-12.183-14.465-30.929-21.892-56.246-22.27h-10.28h-21.696h-4.853c-12.56,0-26.269,1.475-41.114,4.425
			c-14.838,2.952-26.405,5.713-34.68,8.282c-8.28,2.568-19.75,6.328-34.403,11.276c-23.413,8.183-38.45,12.371-45.111,12.56
			c-4.949,0.193-9.231,2.046-12.847,5.569c-3.617,3.518-5.426,7.755-5.426,12.703V246.97c0,4.757,1.718,8.898,5.142,12.416
			c3.424,3.524,7.517,5.476,12.275,5.858c4.565,0.384,11.799,5.996,21.698,16.844c9.9,10.849,19.511,22.368,28.836,34.551
			c12.944,16.553,22.558,27.973,28.837,34.256c3.424,3.422,6.37,7.99,8.848,13.702c2.472,5.708,4.142,10.324,5.004,13.846
			c0.855,3.519,2.135,9.274,3.856,17.275c1.328,7.419,2.519,13.227,3.569,17.412c1.047,4.188,2.898,9.137,5.564,14.845
			c2.67,5.716,5.903,10.469,9.712,14.274c3.614,3.62,7.898,5.431,12.847,5.431c8.761,0,16.604-0.999,23.559-2.998
			c6.947-1.998,12.655-4.469,17.131-7.419c4.477-2.957,8.282-6.803,11.424-11.566c3.142-4.757,5.424-9.042,6.851-12.848
			c1.431-3.812,2.574-8.562,3.426-14.27c0.855-5.716,1.338-10,1.431-12.854c0.093-2.854,0.144-6.563,0.144-11.136
			c0-7.228-0.948-14.51-2.851-21.84c-1.909-7.323-3.72-12.895-5.428-16.707c-1.711-3.806-4.281-9.227-7.706-16.269
			c-0.575-1.144-1.523-2.861-2.854-5.144c-1.328-2.283-2.382-4.381-3.142-6.283c-0.763-1.902-1.522-4.186-2.279-6.852h79.086
			c14.843,0,27.645-5.428,38.397-16.279c10.756-10.848,16.228-23.694,16.419-38.54C456.811,229.931,451.575,215.75,441.106,204.141z
			"/>
  </g>
</g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
</svg>
                              </div>
                              <i>{{article.dislike}}</i>
                            </a>
                          </div>
                          <div class="social-share-button">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}" target="_blank">
                              <div class="social-icon share">
                                <svg fill="#656565" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 525.152 525.152" style="enable-background:new 0 0 525.152 525.152;fill:#656565;" xml:space="preserve">
<g>
  <path d="M420.735,371.217c-20.021,0-37.942,7.855-51.596,20.24L181.112,282.094c1.357-6.061,2.407-12.166,2.407-18.468
		c0-6.302-1.072-12.385-2.407-18.468l185.904-108.335c14.179,13.129,32.931,21.334,53.719,21.334
		c43.828,0,79.145-35.251,79.145-79.079C499.88,35.338,464.541,0,420.735,0c-43.741,0-79.079,35.338-79.079,79.057
		c0,6.389,1.072,12.385,2.407,18.468L158.158,205.947c-14.201-13.194-32.931-21.378-53.741-21.378
		c-43.828,0-79.145,35.317-79.145,79.057s35.317,79.079,79.145,79.079c20.787,0,39.54-8.206,53.719-21.334l187.698,109.604
		c-1.291,5.58-2.101,11.4-2.101,17.199c0,42.45,34.594,76.979,76.979,76.979c42.428,0,77.044-34.507,77.044-76.979
		S463.163,371.217,420.735,371.217z"/>
</g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
</svg>
                              </div>
                            </a>
                          </div>
                          <div class="social-share-button">
                            <a>
                              <div class="social-icon bookmark" >
                                <svg fill="#656565" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="431.972px" height="431.972px" viewBox="0 0 431.972 431.972" style="enable-background:new 0 0 431.972 431.972;fill:#656565;"
                                     xml:space="preserve">
<g>
  <path d="M393.146,14.279c-3.713-5.333-8.713-9.233-14.989-11.707c-3.997-1.711-8.186-2.568-12.565-2.568V0H66.378
		c-4.377,0-8.562,0.857-12.56,2.568c-6.28,2.472-11.278,6.377-14.989,11.707c-3.71,5.33-5.568,11.228-5.568,17.701v368.019
		c0,6.475,1.858,12.371,5.568,17.706c3.711,5.329,8.709,9.233,14.989,11.704c3.994,1.711,8.183,2.566,12.56,2.566
		c8.949,0,16.844-3.142,23.698-9.418l125.91-121.062l125.91,121.065c6.663,6.081,14.562,9.127,23.695,9.127
		c4.76,0,8.948-0.756,12.565-2.279c6.276-2.471,11.276-6.375,14.989-11.711c3.71-5.328,5.564-11.225,5.564-17.699V31.98
		C398.71,25.507,396.852,19.609,393.146,14.279z"/>
</g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
</svg>
                              </div>
                            </a>
                          </div>
                          <div class="social-share-button">
                            <a onclick="clickComment()" class="have-number">
                              <div class="social-icon comment">
                                <svg fill="#656565" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="510px" height="510px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;fill:#656565;" xml:space="preserve">
<g>
  <g id="messenger">
    <path d="M459,0H51C22.95,0,0,22.95,0,51v459l102-102h357c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z"/>
  </g>
</g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
                                  <g>
                                  </g>
</svg>
                              </div>
                              <i>{{article.comment | length}}</i>
                            </a>
                          </div>
                        </section>
                        <div class="tag-block">
                          <a href="javascript:;" class="text-block">
                            <div class="simple-text">
                              <div class="coloralert platform-color">
                                <p class="alert-text">
                                  <strong>{{article.option_1}}</strong>
                                </p>
                              </div>
                            </div>
                          </a>
                          <a href="javascript:;" class="text-block">
                            <div class="simple-text ">
                              <div class="coloralert type-color">
                                <p class="alert-text">
                                  <strong>{{article.option_2}}</strong>
                                </p>
                              </div>
                            </div>
                          </a>
                          <a href="javascript:;" class="text-block">
                            <div class="simple-text ">
                              <div class="coloralert brand-color">
                                <p class="alert-text">
                                  <strong>{{article.option_3}}</strong>
                                </p>
                              </div>
                            </div>
                          </a>
                          <a href="javascript:;" class="text-block">
                            <div class="simple-text ">
                              <div class="coloralert genre-color">
                                <p class="alert-text">
                                  <strong>{{article.option_4}}</strong>
                                </p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </wrap>
                      {% if CustomField(article.id,'article','outline')=="true" %}
                        <div class="field field--type-ds field__item">
                          <h2>OUTLINE</h2>
                          <div class="block-ad-299">
                            <div class="ads ad-299"></div>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>

                  {% if article.type == 'review' %}
                    <!-- GAME INFOMATIONS AND REQUIREMENTS -->
                    a={{article | json_encode}}
                    <div class="config-wrapper">
                      <ul class="config-tab-wrapper">
                        <a href="javascript:;" class="config-tab config-info active">Thông tin</a>
                        <a href="javascript:;" class="config-tab config-req">Cấu hình</a>
                      </ul>
                      <div class="author-footer config-footer config-info-area clearfix">
                        <div class="author-footer-info">
                          {{article.game.infomation | raw}}
                        </div>
                      </div>
                      <div class="author-footer config-footer config-req-area d-none clearfix">
                        <div class="author-footer-info">
                          {{article.game.requirememt}}
                        </div>
                      </div>
                    </div>

                    <!-- ARTICLE RATING -->
                    {% set value = getCustomField(article.id, 'article', 'appreciation') %}
                    <div class="review-breakdown rating-overflow">
                      <div class="review-breakdown__inner">
                        <div class="container row">
                          <dl class="breakdown breakdown-good span6">
                            <dt class="breakdown-good__title"><span>Ưu điểm</span></dt>
                            {% for item in value[0] %}
                              <dd class="breakdown-good__item">
                                <i>
                                  <svg version="1.1" width="28" height="28" viewBox="0 0 28 28"
                                      aria-hidden="true" class="symbol symbol-plus-sign">
                                    <path
                                      d="M19 15v-2q0-0.406-0.297-0.703t-0.703-0.297h-4v-4q0-0.406-0.297-0.703t-0.703-0.297h-2q-0.406 0-0.703 0.297t-0.297 0.703v4h-4q-0.406 0-0.703 0.297t-0.297 0.703v2q0 0.406 0.297 0.703t0.703 0.297h4v4q0 0.406 0.297 0.703t0.703 0.297h2q0.406 0 0.703-0.297t0.297-0.703v-4h4q0.406 0 0.703-0.297t0.297-0.703zM24 14q0 3.266-1.609 6.023t-4.367 4.367-6.023 1.609-6.023-1.609-4.367-4.367-1.609-6.023 1.609-6.023 4.367-4.367 6.023-1.609 6.023 1.609 4.367 4.367 1.609 6.023z"></path>
                                  </svg>
                                </i>
                                {{item.value}}
                              </dd>
                            {% endfor %}
                          </dl>
                          <dl class="breakdown breakdown-bad span6">
                            <dt class="breakdown-bad__title"><span>Nhược điểm</span></dt>
                            {% for item in value[1] %}
                              <dd class="breakdown-bad__item">
                                <i>
                                  <svg version="1.1" width="28" height="28" viewBox="0 0 28 28"
                                      aria-hidden="true" class="symbol symbol-minus-sign symbol--color-link">
                                    <path
                                      d="M19 15v-2q0-0.406-0.297-0.703t-0.703-0.297h-12q-0.406 0-0.703 0.297t-0.297 0.703v2q0 0.406 0.297 0.703t0.703 0.297h12q0.406 0 0.703-0.297t0.297-0.703zM24 14q0 3.266-1.609 6.023t-4.367 4.367-6.023 1.609-6.023-1.609-4.367-4.367-1.609-6.023 1.609-6.023 4.367-4.367 6.023-1.609 6.023 1.609 4.367 4.367 1.609 6.023z"></path>
                                  </svg>
                                </i>
                                {{item.value}}
                              </dd>
                            {% endfor %}
                          </dl>

                          <dl class="breakdown breakdown-score">
                            <dt class="review-score">
                              <div class="gs-score gs-score--large score-{{article.admin_point}}">
                                <div class="gs-score__clip">
                                  <div class="gs-score__pie gs-score__spinner"></div>
                                </div>
                                <div class="gs-score__clip gs-score__clip2">
                                  <div class="gs-score__pie gs-score__filler"></div>
                                </div>
                                <div class="gs-score__inner">
                                  <div class="gs-score__table">
                                    <div class="gs-score__cell">
                                      <span aria-label="Review score {{article.admin_point}}" tabindex="0">{{article.admin_point}}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </dt>
                            {% include 'snippet/point-system.twig' %}
                          </dl>
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  <!-- ARTICLES AUTHOR -->
                  <div class="field field--type-ds field__item">
                    <div class="views-element-container">
                      <div class="view">
                        <div class="view-content">
                          <div>
                            <div class="author-footer clearfix">
                              {% if author == 'Sigma' %}
                                <div class="author-footer-photo">
                                  <a href="#">
                                    <img src="{{theme.uri}}/img/author/Sigma.jpg" width="100" height="100" alt="Sigma" class="image-style-user-thumbnail"/>
                                  </a>
                                </div>
                                <div class="author-footer-info">
                                  <div class="author-footer-name">
                                    <a title="View user profile." href="javascript:;" class="username">{{author}}</a>
                                  </div>
                                  <div class="author-footer-title">Admin</div>
                                  <div class="author-footer-shortbio">Sigma có kinh nghiệm chơi và đánh giá game trên 10 năm, hiện anh vẫn đang tiếp tục chơi để có thể viết những bài chất lượng cho độc giả</div>
                                </div>
                              {% else %}
                                <div class="author-footer-photo">
                                  <a href="#">
                                    <img src="{{theme.uri}}/img/author/Phi.jpg" width="100" height="100" alt="Phi" class="image-style-user-thumbnail"/>
                                  </a>
                                </div>
                                <div class="author-footer-info">
                                  <div class="author-footer-name">
                                    <a title="View user profile." href="javascript:;" class="username">{{author}}</a>
                                  </div>
                                  <div class="author-footer-title">Admin</div>
                                  <div class="author-footer-shortbio">Phi tuy mới tìm hiểu và chơi game gần đây, tuy nhiên cô ấy học rất nhanh và vẫn đang cố gắng tạo ra nhiều bài viết chất lượng cho độc giả</div>
                                </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- USER BOOKMARKS -->
                  <div class="ds-footer-full">
                    <div class="field field--type-ds field__item">
                      <div class="views-element-container">
                        <div id="default-content" class="recommended-articles-widget view">
                          <div class="view-header">
                            <h2>{{parentBlog.title}} đã lưu</h2>
                          </div>
                          <div class="article-carousel owl-carousel owl-theme">
                            {% for item in parentBlog.articles | slice (0, 10) %}
                                {% if item.id != article.id %}
                                    <div class="teaser">
                                        <div class="teaser-left">
                                            <div class="teaser-left-wrapper">
                                                <div class="promo-img-thumb">
                                                    <a href="{{item.url}}">
                                                    {% if item.image %}
                                                      <img src="{{item.image | upload_url}}"/>
                                                    {% else %}
                                                      <img src="{{settings.sub_img | upload_url}}"/>
                                                    {% endif %} 
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="teaser-right">
                                            <div class="teaser-right-wrapper">
                                                <h3 class="page-title article-title">
                                                    <a href="{{item.url}}">{{item.title}}</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="block-chat" class="block-chat clearfix">

                    <!-- FACEBOOK COMMENT -->
                    <div class="block-comment">
                      <div class="fb-comments" data-href="https://www.facebook.com/PageChoiGiDay" data-width="100%" data-numposts="5"></div>
                      <div id="fb-root"></div>
                      <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=839840852755043&autoLogAppEvents=1';
                        fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk'));
                      </script>
                    </div>

                    <!-- USER REVIEWS -->
                    {% if article.type == 'review' %}
                      <div class="block-reviews float-right">
                        <h2 class="block-title"><img src="{{theme.uri}}/img/icon/icon-star.png">
                          <span>Đánh giá</span>
                        </h2>
                        
                        <!-- REVIEW FORM -->
                        {% if customer.logged_in %}
                          <div class="text-editer clearfix">
                            <textarea name="comment" placeholder="Thêm bình luận..." id="text-editer-comment"></textarea>
                            <div class="review-pusher">
                              <button class="review-pusher-item btn-submit-comment effect-hover-1" onclick="postReview()">
                                Đăng đánh giá
                              </button>
                              <dd class="pod-header__item review-pusher-item pod-header__filters pod-header__filters--js no-flex">
                                <div class="pod-header__filters--select">
                                  <select class="effect-hover-1" name="sort">
                                    <option value="10" selected>10 - Hoàn hảo</option>
                                    <option value="9">9 - Xuất sắc</option>
                                    <option value="8">8 - Hay</option>
                                    <option value="7">7 - Khá</option>
                                    <option value="6">6 - Tạm được</option>
                                    <option value="5">5 - Trung bình</option>
                                    <option value="4">4 - Nghèo nàn</option>
                                    <option value="3">3 - Tệ</option>
                                    <option value="2">2 - Quá tệ</option>
                                    <option value="1">1 - Trash</option>
                                    <option value="0">Điểm</option>
                                  </select>
                                </div>
                              </dd>
                            </div>
                          </div>
                        {% endif %}

                        <!-- LIST REVIEWS -->
                        <div class="list-comment-review">
                          {% for item in article.reviews %}
                            <div class="block-reviews--comment">
                              <div class="block-reviews--auth">
                                {% if customer.avatar %}
                                  <img src="{{customer.avatar | upload_url}}" alt="avatar" class="comment-avatar"/>
                                {% else %}
                                  <img src="{{theme.uri}}/img/avatar-default.png" alt="avatar" class="comment-avatar"/>
                                {% endif %}
                                <span>Đánh giá bởi <strong class="review-author">{{item.user}}</strong></span>
                                <span class="rating-review">
                                  <img src="{{theme.uri}}/img/icon/icon-star.png" width="16px" height="16px"/>
                                  {{item.point}}/10
                                </span>
                              </div>
                              <div class="comment-text-review">
                                <p class="review-title">
                                  {{item.title}}
                                </p>
                                <p class="review-content">
                                  {{item.content}}
                                </p>
                              </div>
                            </div>
                          {% endfor %}
                          <button class="btn-load-more-comment">Tải thêm đánh giá</button>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <input type="hidden" id="article_id" value="{{article.id}}"/>
    <input type="hidden" id="article_like_status" value="{{article.statusLike}}"/>
{% endblock content %}