{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{blog.title}}</title>
{% endblock %}

{% block post_include %}
    <script src="{{shop.static}}/libs/twbsPagination.min.js"></script>
    <script type="text/javascript">
        var page_number,
            total;
        page_number = jQuery(document).find('#pagination').data('page_number');
        total = jQuery(document).find('#pagination').data('total');
        if (total && parseInt(total) > 1) {
            jQuery(document).find('#pagination').twbsPagination('destroy');
            jQuery(document).find('#pagination').twbsPagination({
                totalPages: parseInt(total),
                visiblePages: 7,
                startPage: parseInt(page_number),
                initiateStartPageClick: false,
                paginationClass: 'reset-list paginationk-list',
                pageClass: 'item',
                first: false,
                prev: '<span></span>',
                prevClass: 'item',
                next: '<span></span>',
                nextClass: 'item',
                activeClass: 'active',
                disabledClass: 'disabled',
                anchorClass: 'link',
                last: false,
                href: false,
                onPageClick: function (event, page) {
                    var href = location.href;
                    var s = location.search;
                    if (! s || ! s.indexOf('?page=')) {
                        if (page == 1) 
                            href = location.pathname;
                         else 
                            href = location.pathname + '?page=' + page;
                        
                    } else {
                        if (href.indexOf('&page=') > -1) 
                            href = href.substring(0, href.indexOf('&page='));
                        
                        if (page > 1) 
                            href = href + '&page=' + page;
                        
                    }
                    location.href = href;
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    
    {% if blog.handle == 'tin-tuc' %}
        {% set featured_post = Article (settings.news_featured_post.handle) %}
        {% set redirectBlogHandle = 'danh-gia' %}
        {% set redirectBlog = 'Đánh giá' %}
    {% elseif blog.handle == 'huong-dan' %}
        {% set featured_post = Article (settings.walkthrough_featured_post) %}
        {% set redirectBlogHandle = 'tin-tuc' %}
        {% set redirectBlog = 'Tin tức' %}
    {% endif %}

    <div id="site-wrapper" class="page-blog col-2-template">
        <div id="mantle_skin">
            <div id="rbSkin" class="rbSkin">
                <span id="adSkinLeft"></span>
                <span id="adSkinRight"></span>
                <div class="mapped-ad mapped-skin_top">
                    <div id="skin_top" class="ad-wrap"></div>
                </div>
                <div id="wrapper">
                    <section class="promo--container container row span12">
                        <a href="{{featured_post.url}}" class="promo--object promo--offset-wide promo-type--overlay">
                            <div class="promo--image">
                                <div class="content">
                                    <img src="{{featured_post.image | upload_url}}" alt="{{featured_post.title}}" title="{{featured_post.title}}"/>
                                </div>
                            </div>
                            <div>
                                <div class="content">
                                    <summary class="promo--metadata">
                                        <h2>{{featured_post.title}}</h2>
                                        <span>{{featured_post.description}}</span>
                                    </summary>
                                </div>
                            </div>
                        </a>
                    </section>
                    <div id="site" role="main">
                        <div id="default-content" class="container row">
                            <section class="promo-strip span12">
                                <ul class="promo-strip__list row owl-carousel owl-theme">
                                    {% for post in blog.articles | slice (0, 10) %}
                                        <li class="promo-type--grid promo-strip__item media">
                                            <a href="{{post.url}}">
                                                <figure class="media-figure">
                                                    <div class="media-img">
                                                        <img src="{{post.image | upload_url}}" alt="{{post.title}}" title="{{post.title}}"/>
                                                    </div>
                                                    <span class="content-type hide-mobile content-symbol--medium"></span>
                                                    <div class="media-type media-type--right">
                                                        <svg aria-hidden="true" class="symbol symbol-comments" height="28" version="1.1" viewBox="0 0 28 28" width="28">
                                                            <path d="M22 12q0 2.172-1.469 4.016t-4.008 2.914-5.523 1.070q-1.344 0-2.75-0.25-1.937 1.375-4.344 2-0.562 0.141-1.344 0.25h-0.047q-0.172 0-0.32-0.125t-0.18-0.328q-0.016-0.047-0.016-0.102t0.008-0.102 0.031-0.094l0.039-0.078t0.055-0.086 0.063-0.078 0.070-0.078 0.063-0.070q0.078-0.094 0.359-0.391t0.406-0.461 0.352-0.453 0.391-0.602 0.32-0.688q-1.937-1.125-3.047-2.766t-1.109-3.5q0-2.172 1.469-4.016t4.008-2.914 5.523-1.070 5.523 1.070 4.008 2.914 1.469 4.016zM28 16q0 1.875-1.109 3.508t-3.047 2.758q0.156 0.375 0.32 0.688t0.391 0.602 0.352 0.453 0.406 0.461 0.359 0.391q0.016 0.016 0.063 0.070t0.070 0.078 0.063 0.078 0.055 0.086l0.039 0.078t0.031 0.094 0.008 0.102-0.016 0.102q-0.047 0.219-0.203 0.344t-0.344 0.109q-0.781-0.109-1.344-0.25-2.406-0.625-4.344-2-1.406 0.25-2.75 0.25-4.234 0-7.375-2.063 0.906 0.063 1.375 0.063 2.516 0 4.828-0.703t4.125-2.016q1.953-1.437 3-3.313t1.047-3.969q0-1.203-0.359-2.375 2.016 1.109 3.187 2.781t1.172 3.594z"></path>
                                                        </svg>
                                                        {{post.comment}}
                                                        <svg aria-hidden="true" class="symbol symbol-thumbs-up" height="28" version="1.1" viewBox="0 0 28 28" width="28">
                                                            <path d="M4 21q0-0.406-0.297-0.703t-0.703-0.297q-0.422 0-0.711 0.297t-0.289 0.703q0 0.422 0.289 0.711t0.711 0.289q0.406 0 0.703-0.289t0.297-0.711zM6.5 13v10q0 0.406-0.297 0.703t-0.703 0.297h-4.5q-0.406 0-0.703-0.297t-0.297-0.703v-10q0-0.406 0.297-0.703t0.703-0.297h4.5q0.406 0 0.703 0.297t0.297 0.703zM25 13q0 1.344-0.859 2.328 0.234 0.688 0.234 1.188 0.047 1.188-0.672 2.141 0.266 0.875 0 1.828-0.234 0.891-0.844 1.469 0.141 1.75-0.766 2.828-1 1.188-3.078 1.219h-2.016q-1.031 0-2.25-0.242t-1.898-0.453-1.883-0.617q-1.922-0.672-2.469-0.688-0.406-0.016-0.703-0.305t-0.297-0.695v-10.016q0-0.391 0.281-0.68t0.672-0.32q0.375-0.031 1.188-0.922t1.578-1.891q1.062-1.359 1.578-1.875 0.281-0.281 0.484-0.75t0.273-0.758 0.211-0.945q0.109-0.609 0.195-0.953t0.305-0.812 0.531-0.781q0.297-0.297 0.703-0.297 0.719 0 1.289 0.164t0.938 0.406 0.625 0.633 0.375 0.703 0.187 0.781 0.078 0.703 0.008 0.609q0 0.594-0.148 1.188t-0.297 0.938-0.43 0.875q-0.047 0.094-0.156 0.281t-0.172 0.344-0.125 0.375h4.328q1.219 0 2.109 0.891t0.891 2.109z"></path>
                                                        </svg>
                                                        {{post.like}}
                                                    </div>
                                                </figure>
                                                <div class="media-body">
                                                    <h3 class="media-title promoTitle--rhythm--inc">
                                                        {{post.title | truncate (30)}}
                                                    </h3>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                            <div class="primary-content span8 medium-span7">
                                <div class="pod pod-river">
                                    <dl class="pod-header has-feed-group">
                                        <dt class="pod-header__item">
                                            <div class="pod-title">
                                                <h4>{{blog.title}} mới nhất</h4>
                                                <span aria-hidden="true" class="pod-div" role="presentation"></span>
                                            </div>
                                        </dt>
                                        <dd class="pod-header__item pod-header__filters pod-header__filters--js no-flex">
                                            <div class="pod-header__filters--select">
                                                <select name="sort" class="js-filter-load-page" data-filter="{{blog.title}}">
                                                    <option value="mới nhất" selected>Mới nhất</option>
                                                    <option value="phổ biến nhất">Phổ biến nhất</option>
                                                </select>
                                            </div>
                                        </dd>
                                        <dd class="pod-header__item pod-header__grid no-flex hide-mobile">
                                            <a class="feed-view on" href="javascript:;" id="feed-view-river">
                                                <svg aria-hidden="true" class="symbol symbol-reorder" height="28" version="1.1" viewBox="0 0 28 28" width="28">
                                                    <path d="M24 21v2q0 0.406-0.297 0.703t-0.703 0.297h-22q-0.406 0-0.703-0.297t-0.297-0.703v-2q0-0.406 0.297-0.703t0.703-0.297h22q0.406 0 0.703 0.297t0.297 0.703zM24 13v2q0 0.406-0.297 0.703t-0.703 0.297h-22q-0.406 0-0.703-0.297t-0.297-0.703v-2q0-0.406 0.297-0.703t0.703-0.297h22q0.406 0 0.703 0.297t0.297 0.703zM24 5v2q0 0.406-0.297 0.703t-0.703 0.297h-22q-0.406 0-0.703-0.297t-0.297-0.703v-2q0-0.406 0.297-0.703t0.703-0.297h22q0.406 0 0.703 0.297t0.297 0.703z"/>
                                                </svg>
                                            </a>
                                        </dd>
                                        <dd class="pod-header__item pod-header__grid no-flex hide-mobile">
                                            <a class="feed-view" href="javascript:;" id="feed-view-grid">
                                                <svg aria-hidden="true" class="symbol symbol-th" height="28" version="1.1" viewBox="0 0 28 28" width="28">
                                                    <path d="M8 19.5v3q0 0.625-0.438 1.062t-1.062 0.438h-5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h5q0.625 0 1.062 0.438t0.438 1.062zM8 11.5v3q0 0.625-0.438 1.062t-1.062 0.438h-5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h5q0.625 0 1.062 0.438t0.438 1.062zM18 19.5v3q0 0.625-0.438 1.062t-1.062 0.438h-5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h5q0.625 0 1.062 0.438t0.438 1.062zM8 3.5v3q0 0.625-0.438 1.062t-1.062 0.438h-5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h5q0.625 0 1.062 0.438t0.438 1.062zM18 11.5v3q0 0.625-0.438 1.062t-1.062 0.438h-5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h5q0.625 0 1.062 0.438t0.438 1.062zM28 19.5v3q0 0.625-0.438 1.062t-1.062 0.438h-5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h5q0.625 0 1.062 0.438t0.438 1.062zM18 3.5v3q0 0.625-0.438 1.062t-1.062 0.438h-5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h5q0.625 0 1.062 0.438t0.438 1.062zM28 11.5v3q0 0.625-0.438 1.062t-1.062 0.438h-5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h5q0.625 0 1.062 0.438t0.438 1.062zM28 3.5v3q0 0.625-0.438 1.062t-1.062 0.438h-5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h5q0.625 0 1.062 0.438t0.438 1.062z"/>
                                                </svg>
                                            </a>
                                        </dd>
                                    </dl>
                                    <div class="pod-filter">
                                        <section class="filter-results editorial thirds river">
                                            {% for item in blog.articles %}
                                                <article class="media media-game media-game">
                                                    <a href="{{item.url}}">
                                                        <figure class="media-figure media-figure--river">
                                                            <div class="media-img imgflare--river">
                                                                <img src="{{item.image | upload_url}}" alt="{{item.title}}"/>
                                                                <div class="media-type media-type--right">
                                                                    <svg aria-hidden="true" class="symbol symbol-comments" height="28" version="1.1" viewBox="0 0 28 28" width="28">
                                                                        <path d="M22 12q0 2.172-1.469 4.016t-4.008 2.914-5.523 1.070q-1.344 0-2.75-0.25-1.937 1.375-4.344 2-0.562 0.141-1.344 0.25h-0.047q-0.172 0-0.32-0.125t-0.18-0.328q-0.016-0.047-0.016-0.102t0.008-0.102 0.031-0.094l0.039-0.078t0.055-0.086 0.063-0.078 0.070-0.078 0.063-0.070q0.078-0.094 0.359-0.391t0.406-0.461 0.352-0.453 0.391-0.602 0.32-0.688q-1.937-1.125-3.047-2.766t-1.109-3.5q0-2.172 1.469-4.016t4.008-2.914 5.523-1.070 5.523 1.070 4.008 2.914 1.469 4.016zM28 16q0 1.875-1.109 3.508t-3.047 2.758q0.156 0.375 0.32 0.688t0.391 0.602 0.352 0.453 0.406 0.461 0.359 0.391q0.016 0.016 0.063 0.070t0.070 0.078 0.063 0.078 0.055 0.086l0.039 0.078t0.031 0.094 0.008 0.102-0.016 0.102q-0.047 0.219-0.203 0.344t-0.344 0.109q-0.781-0.109-1.344-0.25-2.406-0.625-4.344-2-1.406 0.25-2.75 0.25-4.234 0-7.375-2.063 0.906 0.063 1.375 0.063 2.516 0 4.828-0.703t4.125-2.016q1.953-1.437 3-3.313t1.047-3.969q0-1.203-0.359-2.375 2.016 1.109 3.187 2.781t1.172 3.594z"></path>
                                                                    </svg>
                                                                    {{item.commnent}}
                                                                    <svg aria-hidden="true" class="symbol symbol-thumbs-up" height="28" version="1.1" viewBox="0 0 28 28" width="28">
                                                                        <path d="M4 21q0-0.406-0.297-0.703t-0.703-0.297q-0.422 0-0.711 0.297t-0.289 0.703q0 0.422 0.289 0.711t0.711 0.289q0.406 0 0.703-0.289t0.297-0.711zM6.5 13v10q0 0.406-0.297 0.703t-0.703 0.297h-4.5q-0.406 0-0.703-0.297t-0.297-0.703v-10q0-0.406 0.297-0.703t0.703-0.297h4.5q0.406 0 0.703 0.297t0.297 0.703zM25 13q0 1.344-0.859 2.328 0.234 0.688 0.234 1.188 0.047 1.188-0.672 2.141 0.266 0.875 0 1.828-0.234 0.891-0.844 1.469 0.141 1.75-0.766 2.828-1 1.188-3.078 1.219h-2.016q-1.031 0-2.25-0.242t-1.898-0.453-1.883-0.617q-1.922-0.672-2.469-0.688-0.406-0.016-0.703-0.305t-0.297-0.695v-10.016q0-0.391 0.281-0.68t0.672-0.32q0.375-0.031 1.188-0.922t1.578-1.891q1.062-1.359 1.578-1.875 0.281-0.281 0.484-0.75t0.273-0.758 0.211-0.945q0.109-0.609 0.195-0.953t0.305-0.812 0.531-0.781q0.297-0.297 0.703-0.297 0.719 0 1.289 0.164t0.938 0.406 0.625 0.633 0.375 0.703 0.187 0.781 0.078 0.703 0.008 0.609q0 0.594-0.148 1.188t-0.297 0.938-0.43 0.875q-0.047 0.094-0.156 0.281t-0.172 0.344-0.125 0.375h4.328q1.219 0 2.109 0.891t0.891 2.109z"></path>
                                                                    </svg>
                                                                    {{item.like}}
                                                                </div>
                                                            </div>
                                                        </figure>
                                                        <div class="media-body">
                                                            <h3 class="media-title">
                                                                {{item.title | truncate (70)}}</h3>
                                                            <p class="media-deck">
                                                                {{item.description | truncate (170)}}</p>
                                                            <footer class="media-meta">
                                                                <time class="media-date" datetime="{{item.created_at}}">
                                                                    {{item.created_at}}
                                                                </time>
                                                            </footer>
                                                        </div>
                                                    </a>
                                                </article>
                                            {% endfor %}
                                        </section>
                                        <div class="pagination__wrapper">
                                            <div id="pagination" data-page_number="{{paginate.current_page}}" data-total="{{paginate.total_pages}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% include 'snippet/rightside-featured.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}