{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{ collection.title }}</title>
{% endblock pre_include %}
{% block post_include %}
    <script src="{{shop.static}}/libs/twbsPagination.min.js"></script>
    <script type="text/javascript">
        var page_number,
            total;
        page_number = jQuery(document).find('.pagination').data('page_number');
        total = jQuery(document).find('.pagination').data('total');

        if (total && parseInt(total) > 1) {
            jQuery(document).find('.pagination').twbsPagination('destroy');
            jQuery(document).find('.pagination').twbsPagination({
                totalPages: parseInt(total),
                visiblePages: 7,
                startPage: parseInt(page_number),
                initiateStartPageClick: false,
                paginationClass: 'reset-list paginationk-list',
                pageClass: 'item',
                first: false,
                prev: '<span></span>',
                prevClass: 'item',
                next: '<span></span>',
                nextClass: 'item',
                activeClass: 'active',
                disabledClass: 'disabled',
                anchorClass: 'link',
                last: false,
                href: false,
                onPageClick: function (event, page) {
                    var href = location.href;
                    var s = location.search;
                    if (!s || !s.indexOf('?page=')) {
                        if (page == 1)
                            href = location.pathname;
                        else
                            href = location.pathname + '?page=' + page;
                        }
                    else {
                        if (href.indexOf('&page=') > -1)
                            href = href.substring(0, href.indexOf('&page='));
                        if (page > 1)
                            href = href + '&page=' + page;
                        }
                    location.href = href;
                }
            });
        }
    </script>

    <script>
      var root_html = $('#filter-content').html();
      var sortbyValue = '';
      var perpageValue = '';
      var check_price_filter = 0;
        $('.sorting1 , .soluong1').change(function (event) {
            event.preventDefault();
            var item = $(this).closest('.filter-wrap').find('.soluong1').val();
            var sort = $(this).closest('.filter-wrap').find('.sorting1').val();
            var current_url = window.location.href;
            if (current_url.indexOf('?') >= 0) {
                var conjunction = '&';
            } else {
                var conjunction = '?';
            }
            var url_array = current_url.split('perpage');
            var url = url_array[0];
            if (current_url.indexOf('perpage') >= 0) {
                conjunction = '';
            }
            if (sort) {
                url = url + conjunction + 'perpage=' + item + '&sortby=' + sort;
            } else {
                url = url + conjunction + 'perpage=' + item;
            }
            location.href = url;
        });

        $(document).on('click', '.checkbox-input', function (event) {
            loadFilter();
        });
        $(document).on('change', 'input.price-filter', function (event) {
            check_price_filter = 1;
            loadFilter();
        });
        $(document).on('change', 'select[name="soluong1"]', function (event) {
            $('select[name="soluong1"]').val($(this).val());
            loadFilter();
        });
        $(document).on('change', 'select[name="sortBy"]', function (event) {
            $('select[name="sortBy"]').val($(this).val());
            loadFilter();
        });

        function loadFilter(){
          var max_price = $('input[name="max-price-filter"]').val();
          var min_price = $('input[name="min-price-filter"]').val();
          if ($('select[name="sortBy"]').val() ) {
            sortbyValue = $('select[name="sortBy"]').val() ;
          }
          if ($('select[name="soluong1"]').val() ) {
            perpageValue = $('select[name="soluong1"]').val() ;
          }

           sortby = '&sortby=' + sortbyValue ;
           perpage = '&perpage=' + perpageValue;

          var filter = '&filter=' + 'price>=' + min_price + '%26%26price<=' + max_price;
          var attributes_url = loadfilterUrl()
          if (!attributes_url  && ! check_price_filter && !filter) {
            $('#filter-content').html(root_html);
            return;
          }
          var url = '/api/search?type=product&view=snippet%2Fcollection_filter&attr=' + attributes_url + filter + perpage + sortby;
          // return;
          ajaxLoadFilter(url);
        }

        function loadfilterUrl() {
            var url = ''
            var count = 0;
            $('.filter-left-aside .filter-attributes .reset-list').each(function (val) {
                var option = $(this).data('option');
                var option_array_value = []
                var value_attribute = $(this).find('li input:checked').each(function (data) {
                    option_array_value.push($(this).data('value'));
                })
                if (option_array_value.length > 0) {
                    if (count) {
                        url += '&&' + option + 'IN' + JSON.stringify(option_array_value);
                    } else {
                        url += option + 'IN' + JSON.stringify(option_array_value);
                    }
                    count++;
                }
            })
            console.log(url);
            return encodeURIComponent(url);
        }

        function ajaxLoadFilter(url) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (html) {
                    $('#filter-content').html(html);
                    initPaginate(url);
                    initRating();
                    
                }
            })
        }

        function initPaginate(url) {
            var page_number,
                total;
            page_number = jQuery(document).find('.pagination').data('page_number');
            total = jQuery(document).find('.pagination').data('total');

            if (total && parseInt(total) > 1) {
                jQuery(document).find('.pagination').twbsPagination({
                    totalPages: parseInt(total),
                    visiblePages: 7,
                    startPage: parseInt(page_number),
                    initiateStartPageClick: false,
                    paginationClass: 'reset-list paginationk-list',
                    pageClass: 'item',
                    first: false,
                    prev: '<span></span>',
                    prevClass: 'item',
                    next: '<span></span>',
                    nextClass: 'item',
                    activeClass: 'active',
                    disabledClass: 'disabled',
                    anchorClass: 'link',
                    last: false,
                    href: false,
                    onPageClick: function (event, page) {
                        var href = url;
                        var s = location.search;
                        if (!s || !s.indexOf('&page=')) {
                            if (page == 1)
                                href = url;
                            else
                                href = url + '&page=' + page;
                            }
                        else {
                            if (href.indexOf('&page=') > -1)
                                href = href.substring(0, href.indexOf('&page='));
                            if (page > 1)
                                href = href + '&page=' + page;
                            }
                        $.get(href, function (html) {
                            $('#filter-content').html(html);
                            initPaginate(url);
                            initRating();

                        })
                    }
                });
            }
        }
        function initRating(){
          $(".daily-foods__star").rating({ hoverOnClear: !1, theme: "krajee-fa" });
        }
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        var arrar_collection_handle = [];
        $('.collection-list .reset-list .item span').each(function(val){
          arrar_collection_handle.push($(this).attr('data-handle'));
        })
        $.ajax({
            type: 'post',
            url: '/api/count-collection',
            data: {collection_handles: arrar_collection_handle},
            success: function(json){
                if (!json.code) {
                  $.each(json.array_count, function(index,val){
                  $('.collection-list .reset-list .item').find("[data-handle='" + val.handle + "']").html('(' + val.count + ')');
                  })
                }
            }
        })
      })
    </script>
{% endblock post_include %}

{% block content %}

    <main class="main-content">
        <nav class="breadcrumbk">
            <div class="container">
                <ul class="reset-list breadcrumbk-list">
                    <li class="item">
                        <a href="/" class="link">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="item active">{{collection.title}}</li>
                </ul>
            </div>
        </nav>

        <section class="prod">
            <h3 class="d-none">PRODUCTS</h3>

            <div class="container">
                <div class="row">
                    {% include 'snippet/filter_left_aside.twig' %}

                    <div class="col-12 col-lg-9">
                        <button class="reset-btn btn-blue prod-aside--open js-prodAsideTrigger">
                            <i class="fa fa-bars"></i>
                            Danh mục</button>

                        <div class="prod-content boxshadow">
                            <div class="row row-sm mb-2 mb-sm-4">
                                <div class="col-6 item mb-2">
                                    <figure class="ads-img hasLink"><img src="{{settings.col_image|upload_url}}" alt="">
                                        <a href="{{settings.col_link}}" class="link" title=""></a>
                                    </figure>
                                </div>
                                <div class="col-6 item mb-2">
                                    <figure class="ads-img hasLink"><img src="{{settings.col_image1|upload_url}}" alt="">
                                        <a href="{{settings.col_link1}}" class="link" title=""></a>
                                    </figure>
                                </div>
                            </div>
                            <div id="filter-content">
                                {% include 'snippet/filter-wrap.twig' %}
                                <div class="row row-sm " id="list-product1">
                                    {% for item in collection.products %}
                                        <div class="col-6 col-md-4 col-xl-3 item product-item-slot">
                                            <div class="book-list__item stylek hasLink" data-id="{{item.id}}">
                                                <a href="{{item.url}}" class="link" title="{{item.title}}"></a>
                                                <figure class="img">
                                                    <img src="{{item.image|upload_url}}" alt="{{item.title}}" class="img_cen img_full img_fit"/>
                                                    {% if item.price_compare %}
                                                        <span class="discount">-{{((1-((item.price / item.price_compare)))*100)|round(0,'floor')}}%</span>
                                                    {% endif %}
                                                    {% if item.stop_selling == "publishSoon" %}
                                                        <span class="publish">Sắp phát hành</span>
                                                    {% elseif item.stop_selling == "availableSoon" %}
                                                        <span class="publish">Sắp có hàng</span>
                                                    {% endif %}
                                                </figure>
                                                <div class="content">
                                                    <h5 class="title fs_16">{{item.title}}</h5>
                                                    <ul class="reset-list price d-flex align-items-center flex-wrap">
                                                        <li class="price-new">{{item.price | money('.')}}
                                                            ₫</li>
                                                        {% if item.price_compare %}
                                                            <li class="price-old">{{item.price_compare | money('.')}}
                                                                đ</li>
                                                        {% endif %}
                                                    </ul>
                                                    <div class="rating without-caption">
                                                        <input type="text" class="d-none kv-fa js-rating rating-loading daily-foods__star" value="{{item.rating}}" title="" readonly="readonly">
                                                        <span class="d-inline-block pl-2 numb">(3)</span>
                                                    </div>
                                                    {% if (item.stop_selling == "publishSoon" or item.stop_selling == "availableSoon")
                                                        and item.sell > 0 %}
                                                        <div class="booked">
                                                            <span class="text">Đã đặt trước</span>
                                                            <span class="number">{{item.sell}}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% include 'snippet/filter-wrap.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}
