{% block pre_include %}
    <title>"{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" Is Solved!</title>
    <meta content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" name="google-site-verification"/>
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="stylesheet" href="{{theme.uri}}/css/button.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <script src="{{theme.uri}}/js/jquery-3.3.1.min.js"></script>
{% endblock %}

{% block post_include %}
    <script src="{{theme.uri}}/js/gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus.js"></script>
{% endblock %}

{% block content %}

    {% if gallery.handle == 'starting-riddle-team' %}
        {% set prevLink = 'all-riddles' %}
        {% set nextLink = 'the-four-paths' %}
    {% else %}
        {% set prevLink = 'the-four-paths' %}
        {% set nextLink = getCustomField(gallery.id, 'gallery', 'next-riddle') %}
    {% endif %}

    {% set theme = getCustomField(gallery.id, 'gallery', 'theme') %}

    {% if customer.logged_in and gallery.role != 0 %}
        <section class="circleBase type3 nav-primary">
            <div class="innerCircle">
                {% if Gallery(getCustomField(gallery.id, 'gallery', 'current-riddle')).role == 1 or (Gallery(getCustomField(gallery.id, 'gallery', 'current-riddle')).role == 0 and Gallery(getCustomField(gallery.id, 'gallery', 'current-riddle')).id == 21) %}
                    <div class="innerText {{theme}}">Chúc mừng bạn đã vượt qua thử thách!</div>
                    <div class="innerText {{theme}} title">{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</div>
                    <div class="innerText {{theme}}">Số điểm bạn đã giành được trong thử thách vừa rồi là
                        {{getCustomField(gallery.id, 'gallery', 'riddle-point')}}
                    </div>
                    <div class="innerText {{theme}}">Số điểm hiện tại của bạn là
                        <span class="current-point">{{customer.point + getCustomField(gallery.id, 'gallery', 'riddle-point')}}</span>
                    </div>
                {% elseif Gallery(getCustomField(gallery.id, 'gallery', 'current-riddle')).role == 2 %}
                    <div class="innerText {{theme}}">Bạn đã vượt qua thử thách này!</div>
                {% else %}
                    <div class="innerText {{theme}}">Dừng ngay việc gian lận này lại<br>trước khi bị tước quyền tham gia!</div>
                {% endif %}
                <div id="container_buttons">
                    <a class="btn-general back-to-the-beginning" href={{Gallery(prevLink).url}}>
                        <span>Chọn lựa thử thách!</span>
                    </a>
                    <a class="btn-general next-level" href={{Gallery(nextLink).url}}>
                        <span>Thử thách tiếp theo!</span>
                    </a>
                </div>
            </div>
        </section>

        {% if customer.logged_in %}
            <input type="hidden" class="current-gallery-id" value="{{Gallery(getCustomField(gallery.id, 'gallery', 'current-riddle')).id}}"/>
            <input type="hidden" class="current-gallery-status" value="{{Gallery(getCustomField(gallery.id, 'gallery', 'current-riddle')).role}}"/>
            <input type="hidden" class="next-gallery-id" value="{{Gallery(nextLink).id}}"/>
            <input type="hidden" class="customer-id" value="{{customer.id}}"/>
            <input type="hidden" class="riddle-point" value="{{getCustomField(gallery.id, 'gallery', 'riddle-point')}}"/>
            <input type="hidden" class="customer-point" value="{{customer.point ? customer.point : '0'}}"/>
        {% endif %}

    {% elseif customer.logged_in and gallery.role == 0 %}
        <div class="need-to-login">
            Bạn không đủ điều kiện để truy cập trang này!
        </div>
    {% else %}
        <div class="need-to-login">
            Bạn cần
            <a href="/">đăng nhập</a>
            trước khi tham gia Event!
        </div>
    {% endif %}

{% endblock content %}
