{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <meta name="google-site-verification" content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" />
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}

    {% if gallery.handle == 'winter-4-time-lapse' or gallery.handle == 'winter-4-night' %}
        <img class="winter" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" usemap="#planetmap">
        <map name="planetmap">
            <area coords="750,426,769,425,770,442,749,442" shape="rectangle" href="https://choigiday.com/winter-4-locked-house">
        </map>
    {% else %}
        <img class="winter" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}">
    {% endif %}
{% endblock content %}