{% block pre_include %}
    <title>"{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" Is Solved!</title>
    <meta content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" name="google-site-verification"/>
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="stylesheet" href="{{theme.uri}}/css/button.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <script src="{{theme.uri}}/js/jquery-3.3.1.min.js"></script>
{% endblock %}

{% block post_include %}
    <script>
    $(document).ready(function () {
        var current_gallery_id = $('.current-gallery-id').val();
        var next_gallery_id = $('.next-gallery-id').val();
        var customer_id = $('.customer-id').val();
        var point = parseInt($('.riddle-point').val());
        var current_point = parseInt($('.customer-point').val());
        
        if (customer_id) {

            console.log('theme riddle access');
            // Update Point For User
            $.ajax({
                url: `/api/customer/set-point/${customer_id}`,
                type: "POST",
                data: {
                    'point': current_point + point
                },
                success: function (result) {}
            });

            // Change The Current Riddle Status From Accessible To Solved
            $.ajax({
                type: 'POST',
                url: '/admin/api/setRole',
                data: {
                    'gallery_id': current_gallery_id,
                    'customer_id': customer_id,
                    'role': 3
                },
                success: function (result) {}
            });

            // Change The Next Riddle Status From Unavailable To Accessible
            $.ajax({
                type: 'POST',
                url: '/admin/api/setRole',
                data: {
                    'gallery_id': next_gallery_id,
                    'customer_id': customer_id,
                    'role': 2
                },
                success: function (result) {}
            });
        }

        if (customer_id && next_gallery_id == 1) {

            console.log('starting riddle access');

            // Change The Domino Dance Riddle Status From Accessible To Solved
            $.ajax({
                type: 'POST',
                url: '/admin/api/setRole',
                data: {
                    'gallery_id': current_gallery_id,
                    'customer_id': customer_id,
                    'role': 3
                },
                success: function (result) {}
            });

            // Change Spring 1 Riddle Status From Unavailable To Accessible
            $.ajax({
                type: 'POST',
                url: '/admin/api/setRole',
                data: {
                    'gallery_id': 14,
                    'customer_id': customer_id,
                    'role': 2
                },
                success: function (result) {}
            });
        }
    });
    </script>
{% endblock %}

{% block content %}

    {% if gallery.handle == 'starting-riddle-domino-dance' %}
        {% set prevLink = 'all-riddles' %}
        {% set nextLink = 'the-four-paths' %}
    {% else %}
        {% set prevLink = 'the-four-paths' %}
        {% set nextLink = getCustomField(gallery.id, 'gallery', 'next-riddle') %}
    {% endif %}

    {% set theme = getCustomField(gallery.id, 'gallery', 'theme') %}

    <section class="circleBase type3 nav-primary">
        <div class="innerCircle">
            <div class="innerText {{theme}}">Chúc mừng bạn đã vượt qua thử thách!</div>
            <div class="innerText {{theme}} title">{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</div>
            <div class="innerText {{theme}}">Số điểm bạn đã giành được trong thử thách vừa rồi là
                {{getCustomField(gallery.id, 'gallery', 'riddle-point')}}</div>
            <div class="innerText {{theme}}">Số điểm hiện tại của bạn là
                {{customer.point + getCustomField(gallery.id, 'gallery', 'riddle-point')}}</div>
            <div id="container_buttons">
                <a class="btn-general back-to-the-beginning" href={{Gallery(prevLink).url}}>
                    <span>Chọn lựa thử thách!</span>
                </a>
                <a class="btn-general next-level" href={{Gallery(nextLink).url}}>
                    <span>Thử thách tiếp theo!</span>
                </a>
            </div>
        </div>
    </section>

    {% if customer.logged_in %}
        <input type="hidden" class="current-gallery-id" value="{{Gallery(getCustomField(gallery.id, 'gallery', 'current-riddle')).id}}" />
        <input type="hidden" class="next-gallery-id" value="{{Gallery(nextLink).id}}" />
        <input type="hidden" class="customer-id" value="{{customer.id}}" />
        <input type="hidden" class="riddle-point" value="{{getCustomField(gallery.id, 'gallery', 'riddle-point')}}" />
        <input type="hidden" class="customer-point" value="{{customer.point}}" />
    {% endif %}

{% endblock content %}
