{% extends "layout.twig" %}

{% block pre_include %}
    <title>All Riddles</title>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <style>
        body {
            background-color: #000000;
            color: #FFFFFF;
            text-align: center;
            margin: 0;
            overflow: hidden;
        }

        .page-article .layout-container {
            display: flex !important;
        }

        .all-riddles-container {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 15px;
            margin-right: 15px;
            box-sizing: border-box;
            font-size: 24px;
            padding: 10px;
            font-family: 'Patrick Hand', cursive !important;
        }

        .item {
            float: left;
            width: 30%;
            margin-left: 15px;
            margin-right: 15px;
        }

        .item .border-image {
            position: absolute;
            top: 127px;
            left: 0;
            width: 344px;
            height: 210px;
        }

        .item.riddle-solved {
            opacity: 1;
        }

        .item.riddle-solved:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.825);
        }

        .item.riddle-solved:after {
            position: absolute;
            content: '';
            background-image: url({{theme.uri}}/img/four-seasons/tick-done.png);
            background-size: 100% 100%;
            filter: brightness(500%);
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            transform: translate(-50%, -50%);
        }
        .solved-number {
            position: absolute;
            top: 145px;
            left: 315px;
        }
    </style>
{% endblock %}

{% block content %}

    {% set riddle = [
        Gallery('starting-riddle-domino-dance'),
        Gallery('the-four-paths'),
        Gallery('final-riddle'),
    ] %}

    <div class="all-riddles-container">
        {% for item in range(0, 2) %}
            <div class="item {{riddle[i].role == 2 ? 'riddle-solved' : ''}}">
                <a href="{{riddle[i].role != 0 ? riddle[i].url : '#'}}">
                    <img alt="{{riddle[i].role != 0 ? getCustomField(riddle[i].id, 'gallery', 'current-riddle') : 'locked'}}" src="{{riddle[i].role != 0 ? riddle[i].photos[0].image | upload_url : '/themes/banana/img/four-seasons/locked.jpg'}}">
                    <div class="border-image">
                        <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                    </div>
                    <span class="solved-number">0
                        {# {{riddle[i].role != 0 ? riddle[i].top : null}} #}
                    </span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
