{% extends "layout.twig" %}

{% block pre_include %}
    <title>"{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" Is Solved!</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}

    <div class="solve">
        <div>Chúc mừng bạn đã vượt qua thử thách "{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}"!</div>
        <div>Số điểm bạn đã giành được là {{getCustomField(gallery.id, 'gallery', 'riddle-point')}}</div>
        <div>Số điểm hiện tại của bạn là {{user.point}}</div>
        <div>
            <a href="https://choigiday.com/the-four-paths">Trở lại</a>
            <a href={{getCustomField(gallery.id, 'gallery', 'next-riddle')}}>Thử thách tiếp theo</a>
        </div>
    </div>

    {# Chạy API #}

{% endblock content %}