{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <meta content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" name="google-site-verification" />
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}

    {% if gallery.handle == 'spring-5-antidote' %}
        <img class="spring" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" usemap="#pills">
        <map name="pills">
            <area coords="745,424,767,424,767,443,745,443" href="https://choigiday.com/spring-5-red-pill" shape="poly">
            <area coords="745,424,767,424,767,443,745,443" href="https://choigiday.com/spring-5-blue-pill" shape="poly">
        </map>
    {% else %}
        <img class="spring" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}">
    {% endif %}

{% endblock content %}