{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block post_include %}
{% endblock %}

{% block content %}

    {% if gallery.handle = 'autumn-2-the-autumn-night' %}
        <img class="autumn" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" usemap="#planetmap">
        <map name="planetmap">
            <area coords="530,160,70" shape="circle" title="October 4, 2009">
            <area coords="1010,68,3" shape="circle" title="November 1, 2001">
            <area coords="220,200,3" shape="circle" title="February 16, 2003">
            <area coords="1082,257,3" shape="circle" title="July 31, 2004">
            <area coords="1489,310,2" shape="circle" title="May 9, 2009">
            <area coords="500,450,800,250,1300,245,1300,620,550,620" shape="poly" title="House?">
        </map>
    {% else %}
        <img class="autumn" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}">
    {% endif %}

{% endblock content %}