{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <meta content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" name="google-site-verification"/>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block content %}
    {% if customer.logged_in %}
        {% if gallery.handle == 'autumn-2-the-autumn-night' %}
            <img class="autumn riddle-img" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" usemap="#starmap">
            <map name="starmap">
                <area coords="441,130,86" shape="circle" title="October 4, 2009">
                <area coords="899,173,2" shape="circle" title="November 1, 2001">
                <area coords="215,227,3" shape="circle" title="February 16, 2003">
                <area coords="399,322,3" shape="circle" title="July 31, 2004">
                <area coords="968,256,2" shape="circle" title="May 9, 2009">
                <area coords="493,467,621,293,807,285,805,241,883,241,883,285,999,282,999,597,493,597" shape="poly" title="House?">
            </map>
        {% elseif gallery.handle == 'autumn-4-pumpkin-brothers' %}
            <img class="autumn riddle-img" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" usemap="#pumpkinmap">
            <map name="pumpkinmap">
                <area coords="0,0,300,267" href="https://choigiday.com/autumn-4-demongo" shape="rectangle">
                <area coords="300,0,640,267" href="https://choigiday.com/autumn-4-jack" shape="rectangle">
                <area coords="640,0,1000,267" href="https://choigiday.com/autumn-4-sam" shape="rectangle">
                <area coords="0,267,350,600" href="https://choigiday.com/autumn-4-fraidy-cat" shape="rectangle">
                <area coords="350,267,690,600" href="https://choigiday.com/autumn-4-victor" shape="rectangle">
                <area coords="690,267,1000,600" href="https://choigiday.com/autumn-4-milford" shape="rectangle">
            </map>
        {% else %}
            <img class="autumn riddle-img" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}">
        {% endif %}
        {# {% elseif customer.logged_in and gallery.role == 0 %}
                <div class="need-to-login">
                    Bạn không đủ điều kiện để truy cập trang này!
                </div> #}
    {% else %}
        <div class="need-to-login">
            Bạn cần
            <a href="/">đăng nhập</a>
            trước khi tham gia Event!
        </div>
    {% endif %}
{% endblock content %}
