{% extends "layout.twig" %}

{% block pre_include %}
    <title>Bảng xếp hạng</title>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{{theme.uri}}/css/ranking.css">
{% endblock %}

{% block post_include %}
    <script>
        var userId = $('.userID').val();

        function loadRanking(url) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    var html = '';
                    var counter = 0;
                    for (var i = 0; i < data.customer.length; i++) {
                        if (data.customer[i].point > 0) {
                            html += `<tr class="${data.customer[i].id == userId ? 'active-user' : ''}">
                                        <td class="column1">
                                            ${counter == 0 || counter == 1 || counter == 2 ? 
                                            `<i class="fas fa-medal"></i>
                                            <span>${i+1}</span>` : i + 1}
                                        </td>
                                        <td class="column2"><img src="${data.customer[i].avatar ? '/uploads/' + data.customer[i].avatar : '/themes/banana/img/icon/question-mark-face.jpg'}" alt="${data.customer[i].name}"></td>
                                        <td class="column3">${data.customer[i].name}</td>
                                        <td class="column4">${data.customer[i].point}</td>
                                    </tr>`;
                            counter++;
                        }
                    }

                    if (counter < 6) {
                        for (var i = 6; i > counter; i--) {
                            html += `<tr class="no-one">
                                        <td class="column1">-</td>
                                        <td class="column2"><img src="/themes/banana/img/icon/question-mark-face.jpg" alt=""></td>
                                        <td class="column3">-</td>
                                        <td class="column4">-</td>
                                    </tr>`;
                        }
                    }

                    $('tbody').html(html);
                }
            });
        }

        $(document).ready(function () {
            option_url = 'api/customer?page=1&sortby=point';
            loadRanking(option_url);
        })
    </script>
{% endblock %}

{% block content %}

    <div class="table01">
        <table>
            <thead>
                <tr class="table_head">
                    <th class="column1">No</th>
                    <th class="column2">Avatar</th>
                    <th class="column3">Name</th>
                    <th class="column4">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="column1">
                        <i class="fas fa-medal"></i>
                        <span>1</span>
                    </td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Sam Smith</td>
                    <td class="column4">100</td>
                </tr>
                <tr>
                    <td class="column1">
                        <i class="fas fa-medal"></i>
                        <span>2</span>
                    </td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Alex Johnathann Haha Haha Hahannnnnnnnnnnnnnnnnnn</td>
                    <td class="column4">90</td>

                </tr>
                <tr class="active-user">
                    <td class="column1">
                        <i class="fas fa-medal"></i>
                        <span>3</span>
                    </td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Natsukashii Ame</td>
                    <td class="column4">80</td>

                </tr>
                <tr>
                    <td class="column1">4</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Aki Kusa</td>
                    <td class="column4">70</td>

                </tr>
                <tr>
                    <td class="column1">5</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Pegasus</td>
                    <td class="column4">60</td>

                </tr>
                <tr>
                    <td class="column1">6</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Albert Einstein</td>
                    <td class="column4">50</td>

                </tr>
                <tr>
                    <td class="column1">7</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Aki Dosu</td>
                    <td class="column4">40</td>

                </tr>
                <tr>
                    <td class="column1">8</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Aki Dosu</td>
                    <td class="column4">40</td>

                </tr>
                <tr>
                    <td class="column1">9</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Aki Dosu</td>
                    <td class="column4">40</td>

                </tr>
                <tr>
                    <td class="column1">10</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Aki Dosu</td>
                    <td class="column4">40</td>

                </tr>
                <tr>
                    <td class="column1">11</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Aki Dosu</td>
                    <td class="column4">40</td>

                </tr>
                <tr>
                    <td class="column1">12</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Aki Dosu</td>
                    <td class="column4">40</td>

                </tr>
                <tr>
                    <td class="column1">13</td>
                    <td class="column2"><img src="{{theme.uri}}/img/3453798-avatar.jpg"></td>
                    <td class="column3">Aki Dosu</td>
                    <td class="column4">40</td>

                </tr>
            </tbody>
        </table>
    </div>
    <input class="userID" value="{{customer.id}}" type="hidden" />
{% endblock content %}
