{% block pre_include %}
    <title>The Four Paths</title>
    <meta name="google-site-verification" content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" />
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
    <link rel="stylesheet" href="{{theme.uri}}/css/four-seasons.css">
{% endblock %}

{% block content %}
    <div id="fs">
        <div class="fs-content">

            <!-- SPRING -->
            <div class="fs-season season-spring">
                <div class="item">
                    <a href="https://choigiday.com/spring-1-beautiful-flowers">
                        <img alt="Beautiful Flowers" src="{{theme.uri}}/img/four-seasons/riddles/spring-1.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/spring-5-the-past-and-the-future">
                        <img alt="The Past & The Future" src="{{theme.uri}}/img/four-seasons/riddles/spring-5.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
                <div class="butterfly butterfly-1">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
                <div class="butterfly butterfly-2">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
                <div class="butterfly butterfly-3">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
                <div class="butterfly butterfly-4">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
            </div>

            <!-- SUMMER -->
            <div class="fs-season season-summer">
                <div class="item">
                    <a href="https://choigiday.com/summer-1-multiple-choice-exams-part-1">
                        <img alt="Multiple Choice Exams" src="{{theme.uri}}/img/four-seasons/riddles/summer-1.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/summer-3-rush-hours">
                        <img alt="Rush Hours" src="{{theme.uri}}/img/four-seasons/riddles/summer-3.png">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/summer-4-drink-with-me">
                        <img alt="Drink With Me" src="{{theme.uri}}/img/four-seasons/riddles/summer-4.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/summer-5-the-strange-forest">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/riddles/summer-5.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
                <div class="sun">
                    <div class="ray_box">
                        <div class="ray ray1"></div>
                        <div class="ray ray2"></div>
                        <div class="ray ray3"></div>
                        <div class="ray ray4"></div>
                        <div class="ray ray5"></div>
                        <div class="ray ray6"></div>
                        <div class="ray ray7"></div>
                        <div class="ray ray8"></div>
                        <div class="ray ray9"></div>
                        <div class="ray ray10"></div>
                    </div>
                </div>
            </div>

            <!-- AUTUMN -->
            <div class="fs-season season-autumn">
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/autumn-2-the-autumn-night">
                        <img alt="The Autumn Night" src="{{theme.uri}}/img/four-seasons/riddles/autumn-2.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>

                <div class="fallingLeaves">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
            </div>

            <!-- WINTER -->
            <div class="fs-season season-winter">
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/winter-3-winter-is-coming">
                        <img alt="Winter Is Coming" src="{{theme.uri}}/img/four-seasons/riddles/winter-3.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/winter-4-time-lapse">
                        <img alt="Time Lapse" src="{{theme.uri}}/img/four-seasons/riddles/winter-4.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="https://choigiday.com/">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                            0
                        </span>
                    </a>
                </div>

                <div class="winter-is-coming">
                    <div class="snow snow--near"></div>
                    <div class="snow snow--near snow--alt"></div>

                    <div class="snow snow--mid"></div>
                    <div class="snow snow--mid snow--alt"></div>

                    <div class="snow snow--far"></div>
                    <div class="snow snow--far snow--alt"></div>
                </div>

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
            </div>
        </div>
    </div>
{% endblock content %}