{% extends "layout.twig" %}

{% block pre_include %}
    <title>All Riddles</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <style>
        body {
            background-color: #000000;
            color: #FFFFFF;
            text-align: center;
            margin: 0;
            overflow: hidden;
        }
        .hint-screen {
            margin-top: auto;
            margin-bottom: auto;
            box-sizing: border-box;
            font-size: 24px;
            padding: 10px;
            font-family: 'Patrick Hand', cursive !important;
        }
        .page-article .layout-container {
            display: flex !important;
        }
    </style>
{% endblock %}

{% block content %}

    {% set riddle = [
        Gallery('starting-riddle-domino-dance'),
        Gallery('the-four-paths'),
        Gallery('final-riddle'),
    ] %}

    {% for item in range(0, 2) %}
        <div class="item {{riddle[i].role == 2 ? 'riddle-solved' : ''}}">
            <a href="{{riddle[i].role != 0 ? riddle[i].url : '#'}}">
                <img alt="{{riddle[i].role != 0 ? getCustomField(riddle[i].id, 'gallery', 'current-riddle') : 'locked'}}" src="{{riddle[i].role != 0 ? riddle[i].photos[0].image | upload_url : '/themes/banana/img/four-seasons/locked.jpg'}}">
                <div class="border-image">
                    <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                </div>
                <span class="solved-number">
                    {{riddle[i].role != 0 ? riddle[i].top : null}}
                </span>
            </a>
        </div>
    {% endfor %}
{% endblock content %}
