{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <meta content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" name="google-site-verification"/>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block content %}
    {% if customer.logged_in %}
        {% if gallery.handle == 'winter-4-time-lapse' or gallery.handle == 'winter-4-night' %}
            <img class="winter riddle-img" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" usemap="#locked">
            <map name="locked">
                <area coords="745,424,767,424,767,443,745,443" href="https://choigiday.com/winter-4-the-locked-house" shape="poly">
            </map>
        {% else %}
            <img class="winter riddle-img" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}">
        {% endif %}
    {% else %}
        <div class="need-to-login">
            Bạn cần <a href="/">đăng nhập</a> trước khi tham gia Event!
        </div>
    {% endif %}
{% endblock content %}
