{% extends "layout.twig" %}

{% block pre_include %}
    <title>All Riddles</title>
    <meta name="google-site-verification" content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" />
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}

    <div class="item-slot riddle-solved">
        <a href="">
            <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
            <div class="border-image">
                <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
            </div>
            <span class="solved-number">
                0
            </span>
        </a>
    </div>
    <div class="item-slot">
        <a href="">
            <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
            <div class="border-image">
                <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
            </div>
        </a>
    </div>
    <div class="item-slot">
        <a href="">
            <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
            <div class="border-image">
                <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
            </div>
            <span class="solved-number">
                0
            </span>
        </a>
    </div>
{% endblock content %}