{% block pre_include %}
    <title>The Four Paths</title>
    <meta content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" name="google-site-verification"/>
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
    <link rel="stylesheet" href="{{theme.uri}}/css/four-seasons.css">
{% endblock %}

{% block content %}

    {% set spring.item1 = Gallery('spring-1-beautiful-flowers') %}
    {% set spring.item2 = Gallery('spring-2-') %}
    {% set spring.item3 = Gallery('spring-3-') %}
    {% set spring.item4 = Gallery('spring-4-') %}
    {% set spring.item5 = Gallery('spring-5-the-past-and-the-future') %}
    {% set summer.item1 = Gallery('summer-1-multiple-choice-exams-part-1') %}
    {% set summer.item2 = Gallery('summer-2-') %}
    {% set summer.item3 = Gallery('summer-3-rush-houers') %}
    {% set summer.item4 = Gallery('summer-4-drink-with-me') %}
    {% set summer.item5 = Gallery('summer-5-the-strange-forest') %}
    {% set autumn.item1 = Gallery('autumn-1-') %}
    {% set autumn.item2 = Gallery('autumn-2-the-autumn-night') %}
    {% set autumn.item3 = Gallery('autumn-3-') %}
    {% set autumn.item4 = Gallery('autumn-4-') %}
    {% set autumn.item5 = Gallery('autumn-5-') %}
    {% set winter.item1 = Gallery('winter-1-') %}
    {% set winter.item2 = Gallery('winter-2-') %}
    {% set winter.item3 = Gallery('winter-3-winter-is-coming') %}
    {% set winter.item4 = Gallery('winter-4-time-lapse') %}
    {% set winter.item5 = Gallery('winter-5-') %}

    <div id="fs">
        <div class="fs-content">

            <!-- SPRING -->
            <div class="fs-season season-spring">
                {% for item in range(1, 5) %}
                    <div class="item {{spring['item' ~ i].amountOfRole == 3 ? 'riddle-solved' : ''}}">
                        <a href={{spring['item' ~ i].role != 1 ? spring['item' ~ i].url : '#'}}>
                            <img alt={{spring['item' ~ i].role != 1 ? getCustomField(spring['item' ~ i].id, 'gallery', 'current-riddle') : 'locked'}} src={{spring['item' ~ i].role != 1 ? spring['item' ~ i].photos[0].image | upload_url : '/themes/banana/img/four-seasons/locked.jpg'}}>
                            <div class="border-image">
                                <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                            </div>
                            <span class="solved-number">
                                {{spring['item' ~ i].amountOfRole != 1 ? spring['item' ~ i].solved_number : null}}
                            </span>
                        </a>
                    </div>
                {% endfor %}

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
                <div class="butterfly butterfly-1">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
                <div class="butterfly butterfly-2">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
                <div class="butterfly butterfly-3">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
                <div class="butterfly butterfly-4">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
            </div>

            <!-- SUMMER -->
            <div class="fs-season season-summer">
                {% for item in range(1, 5) %}
                    <div class="item {{summer['item' ~ i].amountOfRole == 3 ? 'riddle-solved' : ''}}">
                        <a href={{summer['item' ~ i].role != 1 ? summer['item' ~ i].url : '#'}}>
                            <img alt={{summer['item' ~ i].role != 1 ? getCustomField(summer['item' ~ i].id, 'gallery', 'current-riddle') : 'locked'}} src={{summer['item' ~ i].role != 1 ? summer['item' ~ i].photos[0].image | upload_url : '/themes/banana/img/four-seasons/locked.jpg'}}>
                            <div class="border-image">
                                <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                            </div>
                            <span class="solved-number">
                                {{summer['item' ~ i].amountOfRole != 1 ? summer['item' ~ i].solved_number : null}}
                            </span>
                        </a>
                    </div>
                {% endfor %}

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
                <div class="sun">
                    <div class="ray_box">
                        <div class="ray ray1"></div>
                        <div class="ray ray2"></div>
                        <div class="ray ray3"></div>
                        <div class="ray ray4"></div>
                        <div class="ray ray5"></div>
                        <div class="ray ray6"></div>
                        <div class="ray ray7"></div>
                        <div class="ray ray8"></div>
                        <div class="ray ray9"></div>
                        <div class="ray ray10"></div>
                    </div>
                </div>
            </div>

            <!-- AUTUMN -->
            <div class="fs-season season-autumn">
                {% for item in range(1, 5) %}
                    <div class="item {{autumn['item' ~ i].amountOfRole == 3 ? 'riddle-solved' : ''}}">
                        <a href={{autumn['item' ~ i].role != 1 ? autumn['item' ~ i].url : '#'}}>
                            <img alt={{autumn['item' ~ i].role != 1 ? getCustomField(autumn['item' ~ i].id, 'gallery', 'current-riddle') : 'locked'}} src={{autumn['item' ~ i].role != 1 ? autumn['item' ~ i].photos[0].image | upload_url : '/themes/banana/img/four-seasons/locked.jpg'}}>
                            <div class="border-image">
                                <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                            </div>
                            <span class="solved-number">
                                {{autumn['item' ~ i].amountOfRole != 1 ? autumn['item' ~ i].solved_number : null}}
                            </span>
                        </a>
                    </div>
                {% endfor %}

                <div class="fallingLeaves">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
            </div>

            <!-- WINTER -->
            <div class="fs-season season-winter">
                {% for item in range(1, 5) %}
                    <div class="item {{winter['item' ~ i].amountOfRole == 3 ? 'riddle-solved' : ''}}">
                        <a href={{winter['item' ~ i].role != 1 ? winter['item' ~ i].url : '#'}}>
                            <img alt={{winter['item' ~ i].role != 1 ? getCustomField(winter['item' ~ i].id, 'gallery', 'current-riddle') : 'locked'}} src={{winter['item' ~ i].role != 1 ? winter['item' ~ i].photos[0].image | upload_url : '/themes/banana/img/four-seasons/locked.jpg'}}>
                            <div class="border-image">
                                <img alt="stone frame border" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                            </div>
                            <span class="solved-number">
                                {{winter['item' ~ i].amountOfRole != 1 ? winter['item' ~ i].solved_number : null}}
                            </span>
                        </a>
                    </div>
                {% endfor %}

                <div class="winter-is-coming">
                    <div class="snow snow--near"></div>
                    <div class="snow snow--near snow--alt"></div>

                    <div class="snow snow--mid"></div>
                    <div class="snow snow--mid snow--alt"></div>

                    <div class="snow snow--far"></div>
                    <div class="snow snow--far snow--alt"></div>
                </div>

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
            </div>
        </div>
    </div>
{% endblock content %}
