{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <meta content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" name="google-site-verification"/>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="stylesheet" href="{{theme.uri}}/css/drive-with-me.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block content %}
    {% if customer.logged_in and gallery.role != 0 %}
        {% if gallery.handle == 'winter-4-time-lapse' or gallery.handle == 'winter-4-night' %}
            <img class="winter riddle-img" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" usemap="#locked">
            <map name="locked">
                <area coords="745,424,767,424,767,443,745,443" href="https://choigiday.com/winter-4-the-locked-house" shape="poly">
            </map>
        {% elseif gallery.handle == 'winter-1-drive-with-me' %}
            <div id="traffic-light">
                <section id="counter">1</section>
                <div id="color1" class="active"></div>
                <div id="color2"></div>
                <div id="color3"></div>
            </div>
            <img class="winter riddle-img" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" usemap="#locked">
        {% else %}
            <img class="winter riddle-img" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}">
        {% endif %}
    {% elseif customer.logged_in and gallery.role == 0 %}
        <div class="need-to-login">
            Bạn không đủ điều kiện để truy cập trang này!
        </div>
    {% else %}
        <div class="need-to-login">
            Bạn cần
            <a href="/">đăng nhập</a>
            trước khi tham gia Event!
        </div>
    {% endif %}
{% endblock content %}
