{% block pre_include %}
    <title>"{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" Is Solved!</title>
    <meta name="google-site-verification" content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" />
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="stylesheet" href="{{theme.uri}}/css/button.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <script src="{{theme.uri}}/js/jquery-3.3.1.min.js"></script>
{% endblock %}

{% block post_include %}
    <script>
        var id = $('.riddler-id').html();
        var point = $('.riddle-point').html();
        var current_point = $('.riddler-point').html();
        if (id) {
            $.ajax({
                url: `api/customer/set-point/${id}`,
                type: "POST",
                data: point + current_point,
                success: function (result) {
                    if (! result.code) {
                        console.log(id + " " + point + " " + current_point);
                    } else {
                        console.log('that bai');
                    }
                }
            });
        }
    </script>
{% endblock %}

{% block content %}

    <section class="circleBase type3 nav-primary">
        <div class="innerCircle">
            <div class="innerText">Chúc mừng bạn đã vượt qua thử thách!</div>
            <div class="innerText">{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</div>
            <div class="innerText">Số điểm bạn đã giành được trong thử thách vừa rồi là
                {{getCustomField(gallery.id, 'gallery', 'riddle-point')}}</div>
            <div class="innerText">Số điểm hiện tại của bạn là
                {{customer.point + getCustomField(gallery.id, 'gallery', 'riddle-point')}}</div>

            <div id="container_buttons">
                <a class="btn-general back-to-the-beginning" href="https://choigiday.com/the-four-paths">
                    <span>Trở lại!</span>
                </a>
                <a class="btn-general next-level" href={{getCustomField(gallery.id, 'gallery', 'next-riddle')}}>
                    Thử thách tiếp theo!
                </a>
            </div>
        </div>
    </section>

    {% if customer.logged_in %}
        <div class="riddler-id">{{customer.id}}</div>
        <div class="riddle-point">{{getCustomField(gallery.id, 'gallery', 'riddle-point')}}</div>
        <div class="riddler-point">{{customer.point}}</div>
    {% endif %}

{% endblock content %}