{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <meta name="google-site-verification" content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" />
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}
{{gallery.role}}
    {% if gallery.handle == 'winter-4-time-lapse' or gallery.handle == 'winter-4-night' %}
        <img class="winter" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}" usemap="#locked">
        <map name="locked">
            <area coords="745,424,767,424,767,443,745,443" shape="poly" href="https://choigiday.com/winter-4-the-locked-house">
        </map>
    {% else %}
        <img class="winter" src="{{gallery.photos[0].image | upload_url}}" alt="{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}">
    {% endif %}
{% endblock content %}