{% block pre_include %}
    <title>The Four Paths</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/four-seasons.css">
{% endblock %}

{% block content %}
    <div id="fs">
        <div class="fs-content">

            <!--spring-->
            <div class="fs-season season-spring">
                <div class="item riddle-solved">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                        <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>


                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
                <div class="butterfly butterfly-1">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
                <div class="butterfly butterfly-2">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
                <div class="butterfly butterfly-3">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
                <div class="butterfly butterfly-4">
                    <div class="leftwing"></div>
                    <div class="rightwing"></div>
                </div>
            </div>

            <!--summer-->
            <div class="fs-season season-summer">
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>


                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
                <div class="sun">
                    <div class="ray_box">
                        <div class="ray ray1"></div>
                        <div class="ray ray2"></div>
                        <div class="ray ray3"></div>
                        <div class="ray ray4"></div>
                        <div class="ray ray5"></div>
                        <div class="ray ray6"></div>
                        <div class="ray ray7"></div>
                        <div class="ray ray8"></div>
                        <div class="ray ray9"></div>
                        <div class="ray ray10"></div>
                    </div>
                </div>
            </div>

            <!--autumn-->
            <div class="fs-season season-autumn">
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/riddles/autumn/autumn_1.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>

                <div class="fallingLeaves">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
            </div>

            <!--winter-->
            <div class="fs-season season-winter">
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/riddles/winter/winter_1.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img alt="" src="{{theme.uri}}/img/four-seasons/locked.jpg">
                        <div class="border-image">
                            <img alt="" src="{{theme.uri}}/img/four-seasons/stone-frame-medium.png">
                        </div>
                      <span class="solved-number">
                          0
                        </span>
                    </a>
                </div>

                <div class="winter-is-coming">
                    <div class="snow snow--near"></div>
                    <div class="snow snow--near snow--alt"></div>

                    <div class="snow snow--mid"></div>
                    <div class="snow snow--mid snow--alt"></div>

                    <div class="snow snow--far"></div>
                    <div class="snow snow--far snow--alt"></div>
                </div>

                <div class="effect-shadow"></div>
                <div class="bg-shadow"></div>
            </div>
        </div>
    </div>
{% endblock content %}
