<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
        <link rel="stylesheet" href="{{theme.uri}}/fonts/font-file.css">
        <link rel="stylesheet" href="{{theme.uri}}/css/init.css">
        <link rel="stylesheet" href="{{theme.uri}}/css/style-1.css">
        <link rel="stylesheet" href="{{theme.uri}}/css/style-2.css">
        <link rel="stylesheet" href="{{theme.uri}}/css/owl.carousel.min.css">
        <link rel="stylesheet" href="{{theme.uri}}/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="{{theme.uri}}/css/login-register.css">
        <link rel="stylesheet" href="{{theme.uri}}/css/media-responsive.css">

        <link rel="stylesheet" href="{{theme.uri}}/css/styles.css">
        <script src="{{theme.uri}}/js/jquery-3.3.1.min.js"></script>
        <script src="{{shop.static}}/libs/StoreAPI.jquery.js" type="text/javascript"></script>

        {% set seo = Seo() %}
        <meta name="title" content="{{seo.meta_title ? seo.meta_title:settings.home_name}}">
        <meta name="description" content="{{seo.meta_description}}">
        <meta name="keywords" content="{{seo.meta_keyword}}">
        <meta name="robots" content="{{seo.meta_robots}}">
        <meta property="og:title" content="{{seo.meta_title}}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{currentUrl()}}"/>
        <meta property="og:image" content="{{seo.meta_image}}"/>
        <meta property="og:description" content="{{seo.meta_description}}"/>

        {{settings.google_analytics | raw}}
        {% block pre_include %}{% endblock %}
    </head>

    <body>
      <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div class="loading-overlay"></div>
        <div class="layout-container">
          {% include 'snippet/header.twig' %}
          {% block content %}{% endblock %}
          {% include 'snippet/footer.twig' %}
        </div>
      </div>
      {% include 'snippet/popup.twig' %}
      <img src="/pixel/visit" hidden="hidden">

			<script src="{{theme.uri}}/js/owl.carousel.min.js" type="application/javascript"></script>
			<script src="{{theme.uri}}/js/modernizr.min.js"></script>
			<script src="{{theme.uri}}/js/script-2.js" type="application/javascript"></script>
			<script src="{{theme.uri}}/js/script-7.js" type="application/javascript"></script>
			<script src="{{theme.uri}}/js/login-register.js"></script>
			<script src="{{theme.uri}}/js/scripts.js" type="application/javascript"></script>

      {{settings.facebook_pixel | raw}}
      {{settings.chat_online | raw}}

      {% block post_include %}{% endblock %}
    </body>
</html>
