{% extends "layout.twig" %}
{% block pre_include %}
    <title>Kết quả tìm kiếm cho "{{search.terms}}"</title>
{% endblock %}
{% block post_include %}{% endblock post_include %}
{% block content %}
    <div id="site-wrapper">
        <div id="mantle_skin">
            <div id="rbSkin" class="rbSkin">
                <div id="wrapper">
                    <div id="site" role="main">
                        <div id="default-content" class=" container row">
                            <div class="primary-content span8 medium-span7">
                                <div>
                                    <div id="river" class="pod pod-river">
                                        <dl class="pod-header has-feed-group no-layout" data-feed-group="news-list">
                                            <dt class="pod-header__item">
                                                <div class="pod-title">
                                                    <h4>Kết quả tìm kiếm cho từ khóa "{{search.term}}"</h4>
                                                    <span aria-hidden="true" class="pod-div" role="presentation"></span>
                                                </div>
                                            </dt>
                                            <dd class="pod-header__item pod-header__filters pod-header__filters--js no-flex">
                                                <div class="pod-header__filters--select">
                                                    <select class="js-filter-load-page">
                                                        <option value="created_at-desc" selected>Mới nhất</option>
                                                        <option value="view-desc">Phổ biến nhất</option>
                                                        <option value="admin_point-desc">Điểm từ cao đến thấp</option>
                                                        <option value="admin_point-asc">Điểm từ thấp đến cao</option>
                                                    </select>
                                                </div>
                                            </dd>
                                        </dl>
                                        <div class="divider">
                                            <fieldset>
                                                <input onkeypress="doSearch(event)" placeholder="Tìm kiếm:" type="text"/>
                                            </fieldset>
                                        </div>
                                        {% if search.data | length > 0 %}
                                            <div id="js-sort-filter-results">
                                                <section class="editorial river">
                                                    {% for item in search.data %}
                                                        <article class="media media-game media-game">
                                                            <a href="{{item.url}}">
                                                                {% if item.type == 'review' %}
                                                                    <div class="media-well media-well--review">
                                                                        <div class="media-well--review-gs">
                                                                            <div class="media-well--review-score">
                                                                                <span class="content">{{item.admin_point}}</span>
                                                                            </div>
                                                                            {% include 'snippet/point-system.twig' %}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                <figure class="media-figure media-figure--medium">
                                                                    <div class="media-img imgflare--boxart">
                                                                        <img src="{{item.image | upload_url}}" alt="{{item.title}}" title="{{item.title}}"/>
                                                                    </div>
                                                                </figure>
                                                                <div class="media-body">
                                                                    <h3 class="media-title">{{item.title}}</h3>
                                                                    <p class="media-deck">{{item.description}}</p>
                                                                    <footer class="media-meta">
                                                                        <time class="media-date">{{item.created_at}}</time>
                                                                    </footer>
                                                                </div>
                                                            </a>
                                                        </article>
                                                    {% endfor %}
                                                </section>
                                                <div class="pagination__wrapper"></div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <aside class="secondary-content span4 medium-span5">
                                <div class="pod pod-popular">
                                    <dl class="pod-header ">
                                        <dt class="pod-header__item">
                                            <div class="pod-title">
                                                <h4>Lọc kết quả</h4>
                                                <span aria-hidden="true" class="pod-div" role="presentation"></span>
                                            </div>
                                        </dt>
                                    </dl>
                                </div>
                                {% set attr = Attributes() %}
                                <div class="custom-filter">
                                    <ul class="filter-list">
                                        {% for item in attr %}
                                            <li class="filter-list__item">
                                                <span class="filter-list__label">{{item.name}}</span>
                                                <span class="filter-list__filter">
                                                    <select id="attr-filter">
                                                        {% for child in item.child %}
                                                            <option value="{{child}}">{{child}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}