{% extends "layout.twig" %}

{% block pre_include %}
  <title>Tài khoản</title>
  <link rel="stylesheet" href="{{theme.uri}}/css/create-password.css">
  <style>
      #upload-image-avatar {
        display: none;
      }

      #avatarImg {
        width: 60px;
        height: 60px;
        padding: 5px;
        border-radius: 5px;
      }

      #loadImg {

      }
  </style>
{% endblock %}

{% block post_include %}
  <script>

    function isShowChangePassword(boolean) {
      if (boolean)
        $('.collapse-change-assword').removeClass('d-none');
      else
        $('.collapse-change-assword').addClass('d-none');
    }

    $(".change-password-btn").click(function () {
      var newPassConfirm = $("#re-new-password").val();
      var data = {
          old_password: $("#old-password").val(),
          new_password: $("#new-password").val(),
      };

      if (!data.old_password) {
          $("#old-password").addClass('has-error');
          toast('Vui lòng nhập mật khẩu hiện tại', 3000, error_color);
          return;
      } else {
          $("#old-password").removeClass('has-error');
      }

      if (!data.new_password) {
          $("#new-password").addClass('has-error');
          toast('Vui lòng nhập mật khẩu mới', 3000, error_color);
          return;
      } else {
          $("#new-password").removeClass('has-error');
      }

      if (data.new_password != newPassConfirm) {
          $("#re-new-password").addClass('has-error');
          toast('Mật khẩu không trùng khớp', 3000, error_color);
          return;
      } else {
          $("#re-new-password").removeClass('has-error');
      }

      $.ajax({
          url: "/api/changePassword",
          type: "POST",
          data: data,
          success: function (result) {
              if (!result.code) {
                  toast(result.message, 3000, error_color);
                  $('#re-new-password').removeClass('has-error');
                  $('#new-password').removeClass('has-error');
                  $('#old-password').removeClass('has-error');
                  setTimeout(function() {
                    location.href = "/";
                  }, 3000); 
              } else {
                  toast(result.message, 3000, error_color);
                  $('#old-password').addClass('has-error');
              }
          }
      });
    })

    $(".update-info").click(function () {
      var data = {
          email: $("#user_email").val(),
          name: $(".change-nickname input").val()
      };

      if (!data.name) {
          $(".change-nickname input").addClass('has-error');
          toast('Vui lòng nhập tên tài khoản', 3000, error_color);
          return;
      } else {
          $(".change-nickname input").removeClass('has-error');
      }

      $.ajax({
          url: "/api/changeInformation",
          type: "POST",
          data: data,
          success: function (result) {
              if (!result.code) {
                  toast('Thay đổi thông tin thành công', 3000, success_color);
                  setTimeout(function() {
                    window.location.reload();
                  }, 3000); 
              } else {
                  toast(result.message, 3000, error_color);
              }
          }
      });
    });

    $(function () {
      $("#loadImg").on('click', function (e) {
          e.preventDefault();
          $("#upload-image-avatar:hidden").trigger('click');
      });
    });

    {# function checkInputImg() {
      let _filename = $('.change-avatar input').val();
      console.log(_filename);
      if (_filename) {
        $('.change-avatar input').addClass('selected');
      } else {
        $('.change-avatar input').removeClass('selected');
      }
      $('.change-avatar .avatar-name').html(_filename);
    } #}

    function checkExtImage(image) {
        var ext = image.split('.').pop().toLowerCase();
        if ($.inArray(ext, [
            'png',
            'jpg',
            'jpeg',
            'gif',
            'svg',
            'ico'
        ]) == -1) {
            toastr.error('Vui lòng chọn đúng định dạng hình ảnh');
            return 0;
        }
        return 1;
    }

    $(document).on('change', '#upload-image-avatar', function () {
        var self = $(this);
        if ($(this).val()) {
          var form = $('.form-avatar');
          var formData = new FormData(form[0]);
          for (var value of formData.values()) {
            if (!checkExtImage(value.name)) {
              form.removeClass('disabled');
              return;
            }
          }

          $.ajax({
              type: 'POST',
              url: '/api/uploadAvatar',
              data: formData,
              cache: false,
              contentType: false,
              processData: false,
              success: function (json) {
                  console.log(json.data);
                  var html = '/uploads/' + json.data;
                  $('.avata').html(`<img src="${html}" id="avatarImg">`);
              }
          });
        }
        $(this).val("");
    });
  </script>
{% endblock %}

{% block content %}

  <div class="user-account">
    <div class="user-account-wrapper">
      <div class="change-nickname">
        <p>Nickname của bạn là: </p>
        <input type="text" value="{{customer.name}}" style="border-color: #2C7ABE">
      </div>
      <div class="change-avatar">
        <div class="avata col-6">
          <form class="form-avatar" enctype="multipart/form-data">
              <input id="upload-image-avatar" type="file" name="upload[]" multiple="multiple" accept="image/*" class="upload-image">
              {% if customer.avatar %}
                  <img src="{{customer.avatar | upload_url}}" id="avatarImg">
              {% else %}
                  <img src="{{theme.uri}}/img/avatar-default.png" id="avatarImg">
              {% endif %}
          </form>
        </div>
        <a href="javascript:void(0);" class="txt_color_1 col-6" id="loadImg">Tải ảnh của bạn</a>
      </div>
      <div class="change-password">
        <div class="modal-change-password">
          <div class="content-modal">
            <button class="text-blue text-center text-bold effect-hover-1"
                    style="margin: 2rem auto;background: white;border: 1px solid #2c7abe; padding: 0.5rem 0 !important;"
                    onclick="isShowChangePassword(true)">
              Đổi mật khẩu
            </button>
            <div class="collapse-change-assword d-none">
              <label for="old-password">Nhập mật khẩu cũ</label>
              <input type="password" id="old-password" placeholder="Nhập mật khẩu cũ">
              <label for="new-password">Nhập mật khẩu mới</label>
              <input type="password" id="new-password" placeholder="Nhập mật khẩu mới">
              <label for="re-new-password">Nhập lại mật khẩu mới</label>
              <input type="password" id="re-new-password" placeholder="Nhập lại mật khẩu mới">
              <p class="modal-change-password-error d-none">Error here</p>
              <div class="modal-password-footer">
                <div class="col-6">
                  <button class="full-width effect-hover-1" onclick="isShowChangePassword(false)">Đóng</button>
                </div>
                <div class="col-6">
                  <button class="change-password-btn full-width effect-hover-1">Đổi mật khẩu</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="update-info">Cập nhật thông tin</button>
    </div>
  </div>
  <input type="hidden" id="user_email" value="{{customer.email}}"/>
{% endblock content %}