{% extends "layout.twig" %}

{% block pre_include %}
  <title>Tài khoản</title>
  <link rel="stylesheet" href="{{ theme.uri }}/css/create-password.css">
  <style>
    #upload-image-avatar {
      display: none;
    }

    #avatarImg {
      width: 60px;
      height: 60px;
      padding: 5px;
      border-radius: 5px;
    }

    select {
      text-align: center;
      padding: 10px;
      width: 100px;
      border-radius: 10px;
    }
    select:before {
      content: '\25be'
    }
  </style>
  <script src="{{ theme.uri }}/js/bootstrap.min.js"></script>
{% endblock %}

{% block post_include %}
  <script src="{{theme.uri}}/js/user.js"></script>
{% endblock %}

{% block content %}

  <div class="user-account">
    <div class="user-account-wrapper container">
      <div>
        <ul class="nav nav-tabs">
          <li class="user-li active"><a data-toggle="tab" href="#menu1">Cập nhật tên</a></li>
          <li class="user-li"><a data-toggle="tab" href="#menu2">Cập nhật avatar</a></li>
          <li class="user-li"><a data-toggle="tab" href="#menu3">Cập nhật mật khẩu</a></li>
          <li class="user-li"><a data-toggle="tab" href="#menu4">Danh sách gợi ý</a></li>
        </ul>

        <div class="tab-content user-tab-content">
          <div id="menu1" class="tab-pane fade in active">
            <h3>Cập nhật tên</h3>
            <div class="change-nickname clearfix">
              <p>Nickname của bạn là: </p>
              <input type="text" value="{{ customer.name }}" style="border-color: #2C7ABE">
              <button class="change-nickname-btn effect-hover-1">Cập nhập nickname</button>
            </div>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3>Cập nhật avatar</h3>
            <div class="change-avatar">
              <div class="avatar">
                <form class="form-avatar" enctype="multipart/form-data">
                  <input id="upload-image-avatar" type="file" name="upload[]" multiple="multiple" accept="image/*"
                         class="upload-image">
                  {% if customer.avatar %}
                    <img src="{{ customer.avatar | upload_url }}" id="avatarImg">
                  {% else %}
                    <img src="{{ theme.uri }}/img/avatar-default.png" id="avatarImg">
                  {% endif %}
                </form>
              </div>
              <button id="loadImg" class="txt_color_1 change-avatar-btn full-width effect-hover-1">Cập nhập ảnh đại diện
              </button>
            </div>
          </div>
          <div id="menu3" class="tab-pane fade">
            <h3>Cập nhật mật khẩu</h3>
            <div class="change-password">
              <div class="modal-change-password">
                <div class="content-modal">
                  <div class="collapse-change-assword">
                    <div>
                      <input type="password" id="old-password" placeholder="Nhập mật khẩu cũ">
                      <input type="password" id="new-password" placeholder="Nhập mật khẩu mới">
                      <input type="password" id="re-new-password" placeholder="Nhập lại mật khẩu mới">
                    </div>
                    <button class="change-password-btn full-width effect-hover-1">Đổi mật khẩu</button>
                    <p class="modal-change-password-error d-none">Error here</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="menu4" class="tab-pane fade">
            <h3>Danh sách gợi ý</h3>
            <select name="wth-select" data-target=".multi-tab">
              <option value="tab-one">tab one</option>
              <option value="tab-two">tab two</option>
              <option value="tab-three">tab three</option>
            </select>

            <div class="select-multi-tab multi-tab">
              <div data-value="tab-one">content tab 1</div>
              <div data-value="tab-two">content tab 2</div>
              <div data-value="tab-three">content tab 3</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <input type="hidden" id="user_email" value="{{ customer.email }}"/>
{% endblock content %}