<div class="top-bar">
  <header id="navbar" role="banner">
    <div class="max-width-container">
      <div class="header-logo">
        <div class="region region-header-logo">
          <div id="block-gi5-branding" class="block block-system block-system-branding-block">
            <a class="site-logo" href="/" rel="home" title="Home">
              <img src="{{ settings.logo | upload_url }}" alt="Home"/>
            </a>
          </div>
        </div>
      </div>
      <div class="header-nav">
        <div class="region region-header-nav">
          <nav aria-labelledby="block-gi5-main-menu-menu" class="block block-menu navigation menu--main"
               id="block-gi5-main-menu" role="navigation">
            <h2 class="visually-hidden" id="block-gi5-main-menu-menu">Main navigation</h2>
            {% set header_menu = Menu ('menu') %}
            <ul class="menu">
              {% for item in header_menu.children %}
                {% set active = item.link == url ? 'nav-active' : '' %}
                <li class="menu-item font-arima" id="menu-News">
                  <a href="{{ item.link }}" class="{{ active }}">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <div class="header-right-container">
        <div class="header-icon search-button">
          <div class="icon-search" onclick="showModalSearch(true)">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px"
                 width="485.213px" height="485.213px" viewBox="0 0 485.213 485.213"
                 style="enable-background:new 0 0 485.213 485.213;"
                 xml:space="preserve">
<g>
  <g>
    <path d="M363.909,181.955C363.909,81.473,282.44,0,181.956,0C81.474,0,0.001,81.473,0.001,181.955s81.473,181.951,181.955,181.951
			C282.44,363.906,363.909,282.437,363.909,181.955z M181.956,318.416c-75.252,0-136.465-61.208-136.465-136.46
			c0-75.252,61.213-136.465,136.465-136.465c75.25,0,136.468,61.213,136.468,136.465
			C318.424,257.208,257.206,318.416,181.956,318.416z"/>
    <path d="M471.882,407.567L360.567,296.243c-16.586,25.795-38.536,47.734-64.331,64.321l111.324,111.324
			c17.772,17.768,46.587,17.768,64.321,0C489.654,454.149,489.654,425.334,471.882,407.567z"/>
  </g>
</g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
</svg>
          </div>
        </div>
        <div class="block-login clearfix">
          {% if customer.logged_in %}
          <div class="isLoginSuccess">
            <div class="user-avatar">
              {% if customer.avatar %}
                <img src="{{ customer.avatar | upload_url }}" alt="avatar"/>
              {% else %}
                <img src="{{ theme.uri }}/img/avatar-default.png" alt="avatar"/>
              {% endif %}
            </div>
            <p class="user-name">
              {{ customer.name }}
            </p>
            <div class="list-menu">
              <a href="/user_account">Trang cá nhân</a>
              <a href="/api/signout">Đăng xuất</a>
            </div>
          </div>
        </div>
        {% else %}
          <div id="login" class="clearfix">
            <a class="header-icon btn-signin">Đăng nhập</a>
            <a class="header-icon btn-signup">Đăng ký</a>
          </div>
        {% endif %}
        <div class="header-icon expanded-menu-button">
          <div class="icon-expanded">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                 xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 24 24">
              <g>
                <path d="M24,3c0-0.6-0.4-1-1-1H1C0.4,2,0,2.4,0,3v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V3z"/>
                <path d="M24,11c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V11z"/>
                <path d="M24,19c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V19z"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="header-dropdown" id="search-dropdown">
    <div class="x-close" onclick="showModalSearch(false)">x</div>
    <div class="max-width-container">
      <div class="region region-header-dropdown-search">
        <div class="views-exposed-form block block-views block-views-exposed-filter-blocksearch-content-page-1"
             data-drupal-selector="views-exposed-form-search-content-page-1" id="block-exposedformsearch-contentpage-1">
          <span class="icon-search" onclick="doSearch(event)">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px"
                 width="485.213px" height="485.213px" viewBox="0 0 485.213 485.213"
                 style="enable-background:new 0 0 485.213 485.213;"
                 xml:space="preserve">
<g>
  <g>
    <path d="M363.909,181.955C363.909,81.473,282.44,0,181.956,0C81.474,0,0.001,81.473,0.001,181.955s81.473,181.951,181.955,181.951
			C282.44,363.906,363.909,282.437,363.909,181.955z M181.956,318.416c-75.252,0-136.465-61.208-136.465-136.46
			c0-75.252,61.213-136.465,136.465-136.465c75.25,0,136.468,61.213,136.468,136.465
			C318.424,257.208,257.206,318.416,181.956,318.416z"/>
    <path d="M471.882,407.567L360.567,296.243c-16.586,25.795-38.536,47.734-64.331,64.321l111.324,111.324
			c17.772,17.768,46.587,17.768,64.321,0C489.654,454.149,489.654,425.334,471.882,407.567z"/>
  </g>
</g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
</svg>
          </span>
          <form accept-charset="UTF-8" id="views-exposed-form-search-content-page-1" method="get">
            <div class="form--inline clearfix">
              <div
                class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-keyword form-item-keyword">
                <label for="edit-keyword">Search</label>
                <input class="form-text" data-drupal-selector="edit-keyword" id="edit-keyword" maxlength="128"
                       name="keyword" onkeypress="doSearch(event)" size="30" type="text" value=""/>
              </div>
              <div class="form-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-actions"
                   id="edit-actions">
                <input class="button js-form-submit form-submit"
                       data-drupal-selector="edit-submit-search-content"
                       id="edit-submit-search-content" value="Search"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-in scrollbar-lt" id="expanded-menu">
    {% if customer.logged_in %}
      <div class="isLoginSuccess mobile">
        <div class="user-avatar">
          {% if customer.avatar %}
            <img src="{{ customer.avatar | upload_url }}" alt="avatar"/>
          {% else %}
            <img src="{{ theme.uri }}/img/avatar-default.png" alt="avatar"/>
          {% endif %}
          <p class="user-name">
            {{ customer.name }}
          </p>
        </div>
      </div>
    {% endif %}
    <div class="max-width-container">
      <div class="hamburger-top">
        <div class="region region-header-hamburger-top">
          <div class="views-exposed-form block block-views block-views-exposed-filter-blocksearch-content-page-1"
               data-drupal-selector="views-exposed-form-search-content-page-1"
               id="block-exposedformsearch-contentpage-1-2">
            <span class="icon-search"></span>
            <form accept-charset="UTF-8" id="views-exposed-form-search-content-page-1-mobile" method="get">
              <div class="form--inline clearfix">
                <div
                  class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-keyword form-item-keyword">
                  <label for="edit-keyword">Search</label>
                  <input class="form-text" data-drupal-selector="edit-keyword" id="edit-keyword-mobile"
                         maxlength="128"
                         name="keyword" onkeypress="doSearchMobile(event)" size="30" type="text" value=""
                         placeholder="Search..."/>
                </div>
                <div class="form-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-actions"
                     id="edit-actions-mobile"><input class="button js-form-submit form-submit"
                                                     data-drupal-selector="edit-submit-search-content"
                                                     id="edit-submit-search-content-mobile" value="Search"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="hamburger-middle">
        <div class="region region-header-hamburger">
          <nav aria-labelledby="block-hamburgermenu-menu" class="block block-menu navigation menu--hamburger-menu"
               id="block-hamburgermenu" role="navigation">
            <h2 class="visually-hidden" id="block-hamburgermenu-menu">Hamburger Menu</h2>
            {% set header_menu = Menu ('menu') %}
            <ul class="menu">
              {% for item in header_menu.children %}
                {% set active = item.link == url ? 'nav-active' : '' %}
                <li class="menu-item font-arima" id="menu-News">
                  <a href="{{ item.link }}" class="{{ active }}">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>

      {% if customer.logged_in %}
        <a onclick="/user_account" class="user-account-page text-orange border">Trang cá nhân</a>
        <a class="text-orange border" href="/api/signout">Đăng xuất</a>
      {% else %}
        <div class="hamburger-bottom">
          <div id="toolbar-item-lightswitch">&nbsp;</div>
          <div class="user-menu user-loggedout main-nav">
            <ul>
              <li><a class="cd-signin" href="javascript:;">Đăng nhập</a></li>
              <li><a class="cd-signup" href="javascript:;">Đăng ký</a></li>
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
