{% set reviewBlog = Blog ('danh-gia') %}
<aside class="secondary-content span4 medium-span5">
	<div id="mpu_top-wrap" class="js-mapped-ad mapped-ad mapped-mpu_top mapped-mpu_top-dart">
		<div id="mpu_top" class="ad-wrap ad-wrap-mpu_top"></div>
	</div>
	<section class="pod pod-filter">
		<dl class="pod-header">
			<dt class="pod-header__item">
				<div class="pod-title">
					<h4>Đánh giá</h4>
					<span aria-hidden="true" class="pod-div" role="presentation"></span>
				</div>
			</dt>
			<dd class="pod-header__item pod-header__filters pod-header__filters--js no-flex">
				<div class="pod-header__filters--select">
					<select class="js-filter-json" data-filter-nodata="1" data-filter-nohistory="1" data-filter-query="platform" name="sort">
						<option value="latest" data-filter-url="/river/reviews/latest">MỚI NHẤT</option>
						<option value="xbox-one" data-filter-url="/river/reviews/xbox-one">ĐIỂM CAO NHẤT</option>
						<option value="ps4" data-filter-url="/river/reviews/ps4">ĐIỂM THẤP NHẤT</option>
					</select>
				</div>
			</dd>
		</dl>
		<div class="filter-results js-filter-results">
			<ol class="reviews-list">
				{% for item in reviewBlog.articles | slice (0, 1) %}
					<li class="reviews-list__item reviews-list__item--first" style="background-image: url({{item.image | resize (640) | upload_url}})">
						<a href="{{item.url}}">
							<div class="align-vertical--contain">
								<div class="align-vertical--child game-info-wrapper">
									<h4 class="game-title">{{item.title}}</h4>
								</div>
								<dl class="game-score align-vertical--child ">
									<dt>
										<div class="gs-score  gs-score--small score-{{item.admin_point}}">
											<div class="gs-score__clip">
												<div class="gs-score__pie gs-score__spinner"></div>
											</div>
											<div class="gs-score__clip gs-score__clip2">
												<div class="gs-score__pie gs-score__filler"></div>
											</div>
											<div class="gs-score__inner">
												<div class="gs-score__table">
													<div class="gs-score__cell">{{item.admin_point}}</div>
												</div>
											</div>
										</div>
									</dt>
									{% include 'snippet/point-system.twig' %}
								</dl>
							</div>
						</a>
					</li>
				{% endfor %}

				<li class="reviews-list__header">
					<span class="reviews-list__header-game">Game</span>
					<span class="reviews-list__header-score">Điểm</span>
				<li>

				<div class="filter-results js-filter-results">
                    <ul class="game game--top-games">
						{% for item in reviewBlog.articles | slice (1, 9) %}
							{# <li class="reviews-list__item">
								<a href="{{item.url}}">
									<div class="align-vertical--contain">
										<h4 class="game-title align-vertical--child">{{item.title}}</h4>
										<dl class="game-score align-vertical--child ">
											<dt>{{item.admin_point}}</dt>
											{% include 'snippet/point-system.twig' %}
										</dl>
									</div>
								</a>
							</li> #}
							<li class="game-background" style="background-image: url({{item.image | upload_url}})">
								<div class="game-item">
									<a href="{{item.url}}" class="game-info">
										<h4 class="game-title">{{item.title}}</h4>
										<dl class="game-score align-vertical--child">
											<dt>{{item.admin_point}}</dt>
											{% include 'snippet/point-system.twig' %}
										</dl>
									</a>
								</div>
							</li>
						{% endfor %}
					</ul>
               	</div>
			</ol>
			
			<footer class="pod-footer">
				<a href="/danh-gia">Xem tất cả đánh giá</a>
			</footer>
		</div>
	</section>
</aside>
    