<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ settings.favicon | upload_url }}">
    <link rel="stylesheet" href="{{ theme.uri }}/fonts/font-file.css">
    <link rel="stylesheet" href="{{ theme.uri }}/css/init.css">

    <link rel="stylesheet" href="{{ theme.uri }}/css/styles.css">
    <script src="{{ theme.uri }}/js/jquery-3.3.1.min.js"></script>
    <script src="{{ shop.static }}/libs/StoreAPI.jquery.js" type="text/javascript"></script>

    {% set seo = Seo() %}
    <meta name="title" content="{{ seo.meta_title ? seo.meta_title:settings.home_name }}">
    <meta name="description" content="{{ seo.meta_description }}">
    <meta name="keywords" content="{{ seo.meta_keyword }}">
    <meta name="robots" content="{{ seo.meta_robots }}">
    <meta property="og:title" content="{{ seo.meta_title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ currentUrl() }}"/>
    <meta property="og:image" content="{{ seo.meta_image }}"/>
    <meta property="og:description" content="{{ seo.meta_description }}"/>

    <title>Tạo lại mật khẩu</title>
    <link rel="stylesheet" href="{{ theme.uri }}/css/create-password.css">
</head>

<body>

<div class="wrapper">
    <main class="main-content">
        <h1>TẠO LẠI MẬT KHẨU MỚI</h1>
        <section class="dang-ky loginModal">
            <div class="">
                <div class="bg_white col py-4">
                    <form id="create-new-password-form" class="login-form col-lg-8 col-xl-6 mx-auto">
                        <input type="hidden" id="user_token" value="{{ token }}">
                        <input type="password" id="create-new-password" class="form-control style2"
                               placeholder="Nhập mật khẩu mới"/>
                        <input type="password" id="create-new-password-confirm" class="form-control style2"
                               placeholder="Nhập lại mật khẩu mới"/>
                        <button class="mr-4 reset-btn btn-blue mb-3">Tạo mật khẩu</button>
                    </form>
                    <button class="mr-4 reset-btn btn-blue mb-3 btn-transparent" onclick="document.location.href='/'">Về trang chủ</button>
                </div>
            </div>
        </section>
    </main>

    <script>
        $("#create-new-password-form").submit(function (e) {
            e.preventDefault();
            var data = {
                token: $("#user_token").val(),
                password: $("#create-new-password").val()
            };
            var passwordConfirmation = $("#create-new-password-confirm").val();

            if (!data.password) {
                $('#create-new-password').addClass('noti-input-error');
                toastr.error("Vui lòng nhập mật khẩu mới");
                return;
            } else {
                $('#create-new-password').removeClass('noti-input-error');
            }

            if (!passwordConfirmation) {
                $('#create-new-password-confirm').addClass('noti-input-error');
                toastr.error("Vui lòng xác nhận mật khẩu mới");
                return;
            } else {
                $('#create-new-password-confirm').removeClass('noti-input-error');
            }

            if (data.password != passwordConfirmation) {
                $('#create-new-password-confirm').addClass('noti-input-error');
                toastr.error("Mật khẩu không trùng khớp");
                return;
            } else {
                $('#create-new-password-confirm').removeClass('noti-input-error');
            }

            $.ajax({
                url: "/api/resetPassword",
                type: "POST",
                data: data,
                success: function (result) {
                    console.log(result);
                    if (!result.code) {
                        toastr.success("Tạo mật khẩu mới thành công");
                        setTimeout(function () {
                            location.href = '/';
                        }, 1000);
                    } else {
                        toastr.error(result.message);
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>